<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/461c3353-3c60-4d31-b994-dde768b6445d/resourceGroups/GR-Yasoma/providers/Microsoft.Web/sites/ProvAlmacenSenati</ResourceId>
    <ResourceGroup>GR-Yasoma</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://provalmacensenati.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>provalmacensenati.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ProvAlmacenSenati</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$ProvAlmacenSenati</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AppGenReceta_SQL_Prueba" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=.; database=LibroReclamaciones; User Id=sa; Pwd=milagroslu" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AppGenReceta_SQL_Prueba_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=.; database=LibroReclamaciones; User Id=sa; Pwd=milagroslu" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AppGenReceta_SQL" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="workstation id=BDSegGestionOC.mssql.somee.com;packet size=4096;user id=cmendez_SQLLogin_1;pwd=uw8tr3ak3p;data source=BDSegGestionOC.mssql.somee.com;persist security info=False;initial catalog=BDSegGestionOC;TrustServerCertificate=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AppGenReceta_SQL_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="workstation id=BDSegGestionOC.mssql.somee.com;packet size=4096;user id=cmendez_SQLLogin_1;pwd=uw8tr3ak3p;data source=BDSegGestionOC.mssql.somee.com;persist security info=False;initial catalog=BDSegGestionOC;TrustServerCertificate=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AppGenReceta_SQL-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AppGenReceta_SQL_Prueba-Web.config Connection String" />
  </ItemGroup>
</Project>