USE [BDGestionOC]
GO
/****** Object:  Table [dbo].[AGO_Cliente]    Script Date: 28/09/2025 07:50:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGO_Cliente](
	[IDCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](200) NULL,
	[ApellidoPaterno] [varchar](200) NULL,
	[ApellidoMaterno] [varchar](200) NULL,
	[Documento] [varchar](200) NULL,
	[Correo] [varchar](200) NULL,
	[Telefono] [varchar](200) NULL,
	[Direccion] [varchar](500) NULL,
	[Ubigeo] [varchar](50) NULL,
	[Activo] [bit] NULL,
	[Contrasena] [varchar](200) NULL,
	[TelefonoEmpresa] [varchar](200) NULL,
	[FechaRegistro] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[Siglas] [varchar](50) NULL,
 CONSTRAINT [PK_AGO_Cliente] PRIMARY KEY CLUSTERED 
(
	[IDCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AGO_Estados]    Script Date: 28/09/2025 07:50:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGO_Estados](
	[IDEstado] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [varchar](200) NULL,
 CONSTRAINT [PK_AGO_Estados] PRIMARY KEY CLUSTERED 
(
	[IDEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AGO_Seguimiento_Detalle]    Script Date: 28/09/2025 07:50:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGO_Seguimiento_Detalle](
	[IDDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IDCabecera] [int] NOT NULL,
	[Observaciones] [varchar](500) NULL,
	[Usuario] [varchar](100) NULL,
	[FechaHora] [varchar](50) NULL,
	[Estado] [varchar](200) NULL,
 CONSTRAINT [PK_AGO_Seguimiento_Detalle] PRIMARY KEY CLUSTERED 
(
	[IDDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AGO_Temporada]    Script Date: 28/09/2025 07:50:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGO_Temporada](
	[IDTemporada] [int] IDENTITY(1,1) NOT NULL,
	[Requerimiento] [varchar](200) NULL,
	[Cod_TemCli] [varchar](50) NULL,
	[Cod_Cliente] [varchar](50) NULL,
 CONSTRAINT [PK_AGO_Temporada] PRIMARY KEY CLUSTERED 
(
	[IDTemporada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AGO_Cliente] ON 

INSERT [dbo].[AGO_Cliente] ([IDCliente], [Nombres], [ApellidoPaterno], [ApellidoMaterno], [Documento], [Correo], [Telefono], [Direccion], [Ubigeo], [Activo], [Contrasena], [TelefonoEmpresa], [FechaRegistro], [FechaModificacion], [Siglas]) VALUES (1148, N'12ozCollective', NULL, NULL, N'10766', NULL, NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, N'12O ')
INSERT [dbo].[AGO_Cliente] ([IDCliente], [Nombres], [ApellidoPaterno], [ApellidoMaterno], [Documento], [Correo], [Telefono], [Direccion], [Ubigeo], [Activo], [Contrasena], [TelefonoEmpresa], [FechaRegistro], [FechaModificacion], [Siglas]) VALUES (1149, N'34 HERITAGE', NULL, NULL, N'10780', NULL, NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, N'34H ')
INSERT [dbo].[AGO_Cliente] ([IDCliente], [Nombres], [ApellidoPaterno], [ApellidoMaterno], [Documento], [Correo], [Telefono], [Direccion], [Ubigeo], [Activo], [Contrasena], [TelefonoEmpresa], [FechaRegistro], [FechaModificacion], [Siglas]) VALUES (1150, N'ABERCROMBIE AND FITCH', NULL, NULL, N'00006', NULL, NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, N'A&F ')
GO
SET IDENTITY_INSERT [dbo].[AGO_Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[AGO_Estados] ON 

INSERT [dbo].[AGO_Estados] ([IDEstado], [Estado]) VALUES (1, N'Ingresado')
INSERT [dbo].[AGO_Estados] ([IDEstado], [Estado]) VALUES (2, N'Registrado')
INSERT [dbo].[AGO_Estados] ([IDEstado], [Estado]) VALUES (3, N'Revisado')
SET IDENTITY_INSERT [dbo].[AGO_Estados] OFF
GO
SET IDENTITY_INSERT [dbo].[AGO_Temporada] ON 

INSERT [dbo].[AGO_Temporada] ([IDTemporada], [Requerimiento], [Cod_TemCli], [Cod_Cliente]) VALUES (4, N'SPRING 03', N'001', N'00001')
INSERT [dbo].[AGO_Temporada] ([IDTemporada], [Requerimiento], [Cod_TemCli], [Cod_Cliente]) VALUES (5, N'FALL 03', N'002', N'00001')
INSERT [dbo].[AGO_Temporada] ([IDTemporada], [Requerimiento], [Cod_TemCli], [Cod_Cliente]) VALUES (6, N'SUMMER 03', N'003', N'00001')
GO
SET IDENTITY_INSERT [dbo].[AGO_Temporada] OFF
GO
/****** Object:  StoredProcedure [dbo].[AGO_Insertar_Seguimiento]    Script Date: 28/09/2025 07:50:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AGO_Insertar_Seguimiento]
--Cmendez
--16/09/25
--Creacion de SP de registro de información
(@Responsable as varchar(150),
@Cliente as varchar(150),
@Temporada as varchar(150),
@Estilo as varchar(150),
@TipoReqPrima as varchar(150),
@TipoReqSecon as varchar(150),
@CuerpoCorreo as varchar(150),
@Extension as varchar(150),
@formato as varchar(150),
@ObsHojaCon as varchar(150),
@ObsHojaMat as varchar(150),
@ObsHojaMed as varchar(150),
@ObsTechPack as varchar(150),
@ObsInfoTela as varchar(150),
@LinkTechPack as varchar(500),
@LinkInfoTela as varchar(500),
@LinkHojaCon as varchar(500),
@LinkHojaMat as varchar(500),
@LinkHojaMed as varchar(500),
@EnviaPrenda as varchar(20),
@extensionInfoTela VARCHAR(150),
@formatoInfoTela VARCHAR(150),
@extensionHojaCon VARCHAR(150),
@formatoHojaCon VARCHAR(150),
@extensionHojaMat VARCHAR(150),
@formatoHojaMat VARCHAR(150),
@extensionHojaMed VARCHAR(150),
@formatoHojaMed VARCHAR(150),
@nombreArchivoTechPack VARCHAR(150),
@nombreArchivoInfoTela VARCHAR(150),
@nombreArchivoHojaCon VARCHAR(150),
@nombreArchivoHojaMat VARCHAR(150),
@nombreArchivoHojaMed VARCHAR(150)
)
as
Begin
declare @fechaActual varchar(20)
set @fechaActual = convert(varchar(20), getdate(),103) + ' ' + convert(varchar(20), getdate(),108)

Insert Into dbo.AGO_SEGUIMIENTO
		(Fecha
		,Cliente
		,Temporada
		,Estilo
		,TipoReqPrima
	    ,TipoReqSecon
		,CuerpoCorreo
		,Responsable
		,Estado
		,Extension
		,Formato
		,ObsHojaCon
		,ObsHojaMat
		,ObsHojaMed
		,ObsTechPack
		,ObsInfoTela
		,LinkTechPack
		,LinkInfoTela
		,LinkHojaCon
		,LinkHojaMat
		,LinkHojaMed
		,EnviaPrenda
		,extensionInfoTela
		,formatoInfoTela
		,extensionHojaCon
		,formatoHojaCon
		,extensionHojaMat
		,formatoHojaMat
		,extensionHojaMed
		,formatoHojaMed
		,nombreArchivoTechPack
		,nombreArchivoInfoTela 
		,nombreArchivoHojaCon 
		,nombreArchivoHojaMat
		,nombreArchivoHojaMed
		,TimeProceso
	)
Values
	(@fechaActual,
	@Cliente,
	@Temporada,
	@Estilo,
	@TipoReqPrima,
	@TipoReqSecon,
	@CuerpoCorreo,
	@Responsable,
	'Ingresado',
	@Extension,
	@Formato,
	@ObsHojaCon,
	@ObsHojaMat,
	@ObsHojaMed,
	@ObsTechPack,
    @ObsInfoTela,
    @LinkTechPack,
    @LinkInfoTela,
    @LinkHojaCon,
    @LinkHojaMat,
    @LinkHojaMed,
    @EnviaPrenda,
	@extensionInfoTela,
	@formatoInfoTela,
	@extensionHojaCon,
	@formatoHojaCon,
	@extensionHojaMat,
	@formatoHojaMat,
	@extensionHojaMed,
	@formatoHojaMed,
	@nombreArchivoTechPack,
	@nombreArchivoInfoTela,
	@nombreArchivoHojaCon, 
	@nombreArchivoHojaMat,
	@nombreArchivoHojaMed,
	'2'
	)

Select '1'

End
GO
/****** Object:  StoredProcedure [dbo].[AGO_Listar_Seguimiento]    Script Date: 28/09/2025 07:50:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AGO_Listar_Seguimiento](
--Cmendez
--16/09/25
--Creacion de SP de listado de información
@IDUsuario as varchar(150),
@Estado as varchar(50)
)
as
Begin

select 
IDRegistros
,Fecha
,Cliente
,Temporada
,Estilo
,CuerpoCorreo
,Tipo
,Responsable
,DifOP
,FechaHoraRegistrado as 'FechReq'
,FechPro
,convert(varchar(100),(case when isnull(FechaHoraRegistrado,'') <> '' 
  then datediff(day,convert(datetime,Fecha,103),convert(datetime,FechaHoraRegistrado,103)) else null end)) as 'DifFech'
,convert(varchar(100),(case when isnull(FechaHoraRegistrado,'') <> '' 
 then 
 (case when datediff(day,convert(datetime,Fecha,103),convert(datetime,FechaHoraRegistrado,103))>2 
 then 
 (datediff(day,convert(datetime,Fecha,103),convert(datetime,FechaHoraRegistrado,103)) - 2)
 else 
 '0'
 end
 )
 else null end)) as 'FechRetraso'
,EnviaPrenda
,Estado
,Extension
,Formato
,TimeProceso
from dbo.AGO_SEGUIMIENTO
where Cliente like '%' + @IDUsuario + '%'
and Estado like '%' + @Estado + '%'

End
GO
/****** Object:  StoredProcedure [dbo].[AGO_Listar_Temporadas]    Script Date: 28/09/2025 07:50:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AGO_Listar_Temporadas] 
(
@Cliente as varchar(150)
)
AS
Begin
declare @IdCliente as varchar(50)

Set @IdCliente = (Select top 1 Documento from dbo.AGO_Cliente
					where Nombres like '%' + @Cliente + '%')

Select 
T.IDTemporada
,T.Requerimiento
  FROM dbo.AGO_Temporada T
  where cod_cliente = @IdCliente
  order by Requerimiento asc
End
GO
