CREATE PROCEDURE dbo.GRI_LISTAR_NPS
@NP AS VARCHAR(50) = ''
AS  
SET NOCOUNT ON  
BEGIN  
  
SELECT COD_ORDPRO as 'NP'
	FROM ES_ORDPRO EO 
		WHERE '001' = EO.COD_FABRICA 
		And fec_creacion >= DATEADD(MONTH,-18,GETDATE()) 
		AND COD_ORDPRO LIKE '%' + @NP + '%'
END  

