USE [HIALPESA]
GO
/****** Object:  StoredProcedure [dbo].[LG_MAN_Requerimiento_Items]    Script Date: 30/04/2026 16:14:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[LG_MAN_Requerimiento_Items]
@ACCION CHAR(1),
@Cod_Area CHAR(2),
@Num_Requerimiento INT, 
@Fec_Requerimiento DATETIME,
@Cod_Motivo CHAR(3),
@Observacion VARCHAR(150),
@Cod_Fabrica_Solicitante COD_FABRICA,
@Tip_Trabajador_Solicitante TIP_TRABAJADOR,
@Cod_Trabajador_Solicitante COD_TRABAJADOR
AS
SET NOCOUNT ON 
SET XACT_ABORT ON 

if @accion <> 'D'
   BEGIN
       IF NOT EXISTS (SELECT * FROM TG_AREAS WHERE COD_AREA = @COD_aREA)
          BEGIN
             RAISERROR ('AREA INEXISTENTE. REVISAR',16,1)
             RETURN 
          END
       IF NOT EXISTS (SELECT * FROM LG_Motivo_Requerimiento WHERE COD_MOTIVO = @COD_MOTIVO)
          BEGIN
             RAISERROR ('MOTIVO INEXISTENTE. REVISAR',16,1)
             RETURN 
          END          
       IF NOT EXISTS (SELECT * FROM TG_OPERARIO WHERE COD_FABRICA = @COD_fABRICA_Solicitante  AND TIP_TRABAJADOR = @TIP_TRABAJADOR_Solicitante  AND COD_TRABAJADOR = @COD_tRABAJADOR_Solicitante   AND FEC_CESE IS NULL )   
          BEGIN
             RAISERROR ('TRABAJADOR INEXISTENTE. REVISAR',16,1)
             RETURN 
          END                 
/*       IF NOT EXISTS (SELECT * FROM TG_OPERARIO WHERE COD_FABRICA = @COD_fABRICA_Solicitante  AND TIP_TRABAJADOR = @TIP_TRABAJADOR_Solicitante  AND COD_TRABAJADOR = @COD_tRABAJADOR_Solicitante   AND COD_FABRICA = '002')   
          BEGIN
             RAISERROR ('TRABAJADOR PERTENECE A FABRICA NO PERMITIDA. REVISAR',16,1)
             RETURN 
          END                  */
          
   END

BEGIN TRANSACTION 

IF @ACCION= 'I'
  BEGIN
      SELECT @Num_Requerimiento  = MAX(Num_Requerimiento )
      FROM   LG_Requerimiento_Items
      WHERE  COD_AREA  = @COD_AREA
      
      SELECT @Num_Requerimiento  = ISNULL(@Num_Requerimiento  ,0) + 1
      
      INSERT LG_Requerimiento_Items (Cod_Area, Num_Requerimiento, Fec_Requerimiento,
             Cod_Motivo, Observacion, Cod_Fabrica_Solicitante, Tip_Trabajador_Solicitante,Cod_Trabajador_Solicitante,Fec_Creacion)
      VALUES (@Cod_Area, @Num_Requerimiento, @Fec_Requerimiento,
             @Cod_Motivo, @Observacion, @Cod_Fabrica_Solicitante, @Tip_Trabajador_Solicitante,@Cod_Trabajador_Solicitante,GETDATE())
             
     SELECT @Num_Requerimiento as num
                          
  END
  
IF @ACCION= 'U'
  BEGIN
     UPDATE LG_Requerimiento_Items 
     SET    Cod_Motivo = @Cod_Motivo ,
            Observacion = @Observacion ,
            Cod_Fabrica_Solicitante = @Cod_Fabrica_Solicitante,
            Tip_Trabajador_Solicitante = @Tip_Trabajador_Solicitante,
            Cod_Trabajador_Solicitante = @Cod_Trabajador_Solicitante
     WHERE  COD_AREA  = @COD_AREA
     AND    Num_Requerimiento = @Num_Requerimiento
     
     SELECT @Num_Requerimiento as num
  END

IF @ACCION= 'D'
  BEGIN
  
     DELETE LG_Requerimiento_Items  
     WHERE  COD_AREA  = @COD_AREA
     AND    Num_Requerimiento = @Num_Requerimiento

  
  END

SELECT COD_AREA = @COD_AREA, NUM_REQUERIMIENTO = @NUM_REQUERIMIENTO 

COMMIT TRANSACTION 



