USE [HIALPESA]
GO
/****** Object:  StoredProcedure [dbo].[LG_MAN_Requerimiento_Items_DETALLE]    Script Date: 30/04/2026 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[LG_MAN_Requerimiento_Items_DETALLE]
@ACCION CHAR(1),
@Cod_Area CHAR(2),
@Num_Requerimiento INT, 
@Secuencia INT,
@Tip_Requerimiento CHAR(1),
@Cod_Item COD_ITEM,
@Des_Temporal_Item VARCHAR(150),
@Cod_Fabricacion VARCHAR(100),
@Cantidad NUMERIC(18,2),
@Cod_UniMed CHAR(2),
@Cod_Equipo CHAR(10)=''
AS 
SET NOCOUNT ON
SET XACT_ABORT ON 

IF @ACCION <> 'D'
   BEGIN
      IF NOT EXISTS (SELECT * FROM LG_TIPO_REQUERIMIENTO WHERE TIP_REQUERIMIENTO = @TIP_REQUERIMIENTO )
         BEGIN
            RAISERROR ('TIPO DE REQUERIMIENTO INEXISTENTE. REVISAR',16,1)
            RETURN
         END

      IF  @TIP_REQUERIMIENTO = 'P'
          BEGIN
			  IF NOT EXISTS (SELECT * FROM LG_ITEM WHERE COD_ITEM = @COD_ITEM )
				 BEGIN
					RAISERROR ('ITEM INEXISTENTE. REVISAR',16,1)
					RETURN
				 END         
		   END
		   
		   --IF NOT EXISTS (SELECT * FROM Mant_Equipos WHERE Cod_Equipo = @Cod_Equipo )
				 --BEGIN
					--RAISERROR ('EQUIPO INEXISTENTE. REVISAR',16,1)
					--RETURN
				 --END         
				 
	   
	   IF NOT EXISTS (SELECT * FROM TG_UNIMED WHERE COD_UNIMED = @COD_UNIMED)
	       BEGIN
	       			RAISERROR ('UNIDAD DE MEDIDA INEXISTENTE. REVISAR',16,1)
					RETURN
	       END	   
   END

BEGIN TRANSACTION 

IF @ACCION= 'I'
  BEGIN
      SELECT @SECUENCIA = MAX(SECUENCIA)
      FROM   LG_Requerimiento_Items_DETALLE
      WHERE  COD_AREA  = @COD_AREA
      AND    Num_Requerimiento = @Num_Requerimiento

      SELECT @SECUENCIA = ISNULL(@SECUENCIA,0)  + 1 
     INSERT  LG_Requerimiento_Items_DETALLE (Cod_Area, Num_Requerimiento, Secuencia,
             Tip_Requerimiento,Cod_Item, Des_Temporal_Item,Cod_Fabricacion, Cantidad, Cod_UniMed,Cod_Equipo)

     VALUES (@Cod_Area, @Num_Requerimiento, @Secuencia,
             @Tip_Requerimiento,@Cod_Item, @Des_Temporal_Item,@Cod_Fabricacion, @Cantidad, @Cod_UniMed,@Cod_Equipo)
                          
  END
  
IF @ACCION= 'U'
  BEGIN

     UPDATE LG_Requerimiento_Items_DETALLE
     SET    Cod_Item = @COD_ITEM,
            Des_Temporal_Item = @Des_Temporal_Item ,
            Cod_Fabricacion = @Cod_Fabricacion,
            Cantidad   = @Cantidad,   
            Cod_UniMed = @Cod_UniMed,
            Cod_Equipo = @Cod_Equipo
     WHERE  COD_AREA  = @COD_AREA
     AND    Num_Requerimiento = @Num_Requerimiento
     AND    SECUENCIA = @SECUENCIA
  END

IF @ACCION= 'D'
  BEGIN
     DELETE LG_Requerimiento_Items_DETALLE
     WHERE  COD_AREA  = @COD_AREA
     AND    Num_Requerimiento = @Num_Requerimiento
     AND    SECUENCIA = @SECUENCIA
  
  END

COMMIT TRANSACTION

