USE [HIALPESA]
GO
/****** Object:  StoredProcedure [dbo].[LG_VOUCHER_REQUERIMIENTO]    Script Date: 4/05/2026 08:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[LG_VOUCHER_REQUERIMIENTO] @COD_AREA CHAR(2)
	,@NUM_REQUERIMIENTO INT
AS
SET NOCOUNT ON
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON

DECLARE @DES_AREA VARCHAR(100)

SELECT @DES_AREA = DES_AREA
FROM TG_AREAS
WHERE COD_AREA = @COD_AREA

SELECT *
INTO #req
FROM LG_Requerimiento_Items
WHERE cod_area = @cod_area
	AND num_requerimiento = @num_requerimiento

SELECT *
INTO #reqdet
FROM LG_Requerimiento_Items_detalle
WHERE cod_area = @cod_area
	AND num_requerimiento = @num_requerimiento

/*SELECT @DES_AREA AS DES_AREA
	,B.Num_Requerimiento
	,Fec_Requerimiento = CONVERT(VARCHAR, B.Fec_Requerimiento, 103)
	,B.Observacion
	,B.Cod_Fabrica_Solicitante
	,B.Tip_Trabajador_Solicitante
	,B.Cod_Trabajador_Solicitante
	,RTRIM(D.APELLIDO_PATERNO) + ' ' + RTRIM(D.APELLIDO_MATERNO) + ' ' + RTRIM(D.Nombre_Trabajador) AS NOM_TRABAJADOR
	,C.Des_Motivo AS DES_MOTIVO
	,E.SECUENCIA
	,E.COD_ITEM
	,G.COD_REPUESTO
	,DES_ITEM = CASE E.COD_ITEM
		WHEN ''
			THEN Des_Temporal_Item
		ELSE G.DES_ITEM
		END
	,E.Cod_Fabricacion
	,E.CANTIDAD
	,H.Des_UniMed
FROM #req B
	,LG_MOTIVO_REQUERIMIENTO C
	,TG_OPERARIO D
	,#reqdet E
	,LG_TIPO_REQUERIMIENTO F
	,LG_ITEM G
	,TG_UNIMED H
WHERE B.Cod_Motivo = C.Cod_Motivo
	AND B.Cod_Fabrica_Solicitante = D.COD_FABRICA
	AND B.Tip_Trabajador_Solicitante = D.TIP_TRABAJADOR
	AND B.Cod_Trabajador_Solicitante = D.COD_TRABAJADOR
	AND B.COD_AREA = E.COD_AREA
	AND B.NUM_REQUERIMIENTO = E.NUM_REQUERIMIENTO
	AND E.TIP_REQUERIMIENTO = F.TIP_REQUERIMIENTO
	AND E.COD_ITEM *= G.COD_ITEM
	AND E.COD_UNIMED = H.COD_UNIMED
ORDER BY E.SECUENCIA*/
SELECT @DES_AREA AS DES_AREA
	,B.Num_Requerimiento
	,CONVERT(VARCHAR, B.Fec_Requerimiento, 103) AS Fec_Requerimiento
	,B.Observacion
	,B.Cod_Fabrica_Solicitante
	,B.Tip_Trabajador_Solicitante
	,B.Cod_Trabajador_Solicitante
	,RTRIM(D.Apellido_Paterno) + ' ' + RTRIM(D.Apellido_Materno) + ' ' + RTRIM(D.Nombre_Trabajador) AS NOM_TRABAJADOR
	,C.Des_Motivo AS DES_MOTIVO
	,E.Secuencia
	,E.Cod_Item
	,G.Cod_Repuesto
	,CASE E.COD_ITEM
		WHEN ''
			THEN Des_Temporal_Item
		ELSE G.DES_ITEM
		END AS DES_ITEM
	,E.Cod_Fabricacion
	,E.Cantidad
	,H.Des_UniMed
	,DBO.LG_DEVUELVE_PRECIOS_ULT_COMPRAS(E.COD_ITEM) AS ULTIMOS_PRECIOS
FROM #req AS B
INNER JOIN #reqdet AS E ON B.Cod_Area = E.Cod_Area
	AND B.Num_Requerimiento = E.Num_Requerimiento
INNER JOIN LG_Motivo_Requerimiento AS C ON B.Cod_Motivo = C.Cod_Motivo
INNER JOIN TG_Operario AS D ON B.Cod_Fabrica_Solicitante = D.Cod_Fabrica
	AND B.Tip_Trabajador_Solicitante = D.Tip_Trabajador
	AND B.Cod_Trabajador_Solicitante = D.Cod_Trabajador
INNER JOIN LG_Tipo_Requerimiento AS F ON E.Tip_Requerimiento = F.Tip_Requerimiento
LEFT OUTER JOIN Lg_Item AS G ON E.Cod_Item = G.Cod_Item
INNER JOIN TG_UniMed AS H ON E.Cod_UniMed = H.Cod_UniMed
ORDER BY E.Secuencia
