ALTER PROCEDURE [dbo].[LIQ_REQ_SUSP_REQ_ADICIONALES_ESTAMPADO] 
     @opcion AS CHAR(1)
	,@fecha AS DATETIME
	,@fecha2 AS DATETIME
	,@cod_ordpro AS VARCHAR(50)
	,@Num_Requerimiento AS INT AS

SET NOCOUNT ON
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON

SELECT *
INTO #items
FROM Ti_Ordtra_Tintoreria_Req_Adic
WHERE num_requerimiento = 0

DELETE #items

IF @opcion = '1'
BEGIN
	INSERT #items
	SELECT *
	FROM Ti_Ordtra_Tintoreria_Req_Adic
	WHERE fec_creacion between   @fecha and @fecha2
	and Cod_Motivo_Requer = '30'
END

IF @opcion = '2'
BEGIN
	INSERT #items
	SELECT *
	FROM Ti_Ordtra_Tintoreria_Req_Adic
	WHERE cod_ordpro = @cod_ordpro
	and Cod_Motivo_Requer = '30'
END


IF @opcion = '3'
BEGIN
	INSERT #items
	SELECT *
	FROM Ti_Ordtra_Tintoreria_Req_Adic
	WHERE Num_Requerimiento = @Num_Requerimiento
	and Cod_Motivo_Requer = '30'
END

SELECT a.Num_Requerimiento
	,a.Fec_creacion
	,a.Fec_impresion_voucher
	,a.Cod_Motivo_Requer AS Motivo
	,ISNULL(c.Descripcion, '') AS Descripcion
	,ISNULL(b.Secu, 0) AS Secu
	,ISNULL(b.Cod_Item, '') AS Cod_Item
	,ISNULL(b.Cons_Requerido, 0) AS Consumo_Requerido
	,ISNULL(b.Cons_Atendido, 0) AS Consumo_Atendido
	,a.Flg_Status AS STATUS
	,a.Observaciones
	,a.Cod_Ordtra
	,a.Cod_Maquina_Tinto
	,a.Cod_Cliente
	,a.cod_ordpro
	,LoteProv = DBO.LG_Devuelve_LOTE_ITEM_Cod_OrdProv(B.Cod_Item, B.LOTE)  
	,Lote
	,A.Cod_Usuario as Usuario
INTO #detalle
FROM #items AS a
LEFT OUTER JOIN Ti_Ordtra_Tintoreria_Req_Adic_Items AS b ON a.Num_Requerimiento = b.Num_Requerimiento
LEFT OUTER JOIN Ti_Motivo_Req AS c ON a.Cod_Motivo_Requer = c.Cod_Motivo_Requer

SELECT a.Num_Requerimiento
	,CONVERT(VARCHAR, a.Fec_Creacion, 103) AS Fec_Creacion
	,CONVERT(VARCHAR, a.Fec_impresion_voucher, 103) AS Ultima_Impresion
	,a.Motivo
	,a.Cod_Ordtra AS Partida
	,a.Descripcion
	,a.Secu
	,a.Cod_Item
	,ISNULL(b.Des_Item, '') AS Nombre
	,ISNULL(b.Cod_UniMed, '') AS UN
	,a.Consumo_Requerido
	,a.Consumo_Atendido
	,a.STATUS
	,a.Cod_Maquina_Tinto
	,C.Des_Maquina_Tinto
	,a.Observaciones
	,a.Cod_Cliente
	,a.cod_ordpro
	,LoteProv 
	,Lote
	,A.Usuario
FROM #DETALLE AS a
LEFT OUTER JOIN Lg_Item AS b ON a.Cod_Item = b.Cod_Item
LEFT OUTER JOIN ti_maquinas_tinto AS C ON a.Cod_Maquina_Tinto = C.Cod_Maquina_Tinto
ORDER BY a.Num_Requerimiento
