USE [HIALPESA]
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarRolUsuario]    Script Date: 26/06/2026 10:05:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_ActualizarRolUsuario]
@IdUsuario INT,
@IdRol INT
AS
Declare @NombreRol as varchar(100) = ''

set @NombreRol = (select CASE @IdRol
								WHEN 1 THEN 'Visualizador'
								WHEN 2 THEN 'Editor'
								WHEN 3 THEN 'Administrador'
								WHEN 4 THEN 'Estampado'
								WHEN 5 THEN 'Liquidador'
								WHEN 6 THEN 'Aprobador Insumos'
								WHEN 7 THEN 'Aprobador Mermas'
								ELSE 'Visualizador' -- Por seguridad, si hay un valor raro, le damos el menor privilegio
										END AS NombreRol)

--UPDATE dbo.AGO_Usuario
--SET 
--    IdRol = @IdRol,
--	NombreRol = @NombreRol
--WHERE 
--    IdUsuario = @IdUsuario;

UPDATE dbo.AGR_RolesUsuarioReceta
SET 
    IdRol = @IdRol,
	NombreRol = @NombreRol
WHERE 
    --Usuario in (select S.COD_USUARIO FROM SEGURIDAD.dbo.SEG_USUARIOS S WHERE CONVERT(bigint,CONVERT(varchar(50),CONVERT(INT,dni_usuario)) + CONVERT(varchar(50),S.id)) = @IdUsuario);
	Usuario in (select S.COD_USUARIO FROM SEGURIDAD.dbo.SEG_USUARIOS S WHERE S.id = @IdUsuario);
