USE [HIALPESA]
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_DATOS_POR_NP]    Script Date: 2/06/2026 11:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_LISTAR_DATOS_POR_NP]
@NP  VARCHAR(50) = ''
AS  
SET NOCOUNT ON  
BEGIN  

--SELECT 
--EO.cod_cliente,
--(select C.Nom_Cliente from TG_Cliente C where C.Cod_Cliente = EO.cod_cliente) as  Cliente,
--EO.cod_estcli AS 'Estilo',
--EO.cod_ordpro AS 'NP',
----EO.COD_ESTPRO,
--EP.DES_PRESENT AS 'COMBO',
--EO.num_prenreq as 'Requeridas'
----EO.Fec_Vigencia_FET,
----EO.fec_creacion
--	FROM ES_ORDPRO EO 
--	LEFT JOIN ES_ESTPROPRE EP 
--		ON EP.COD_PRESENT  = '1' 
--		and EP.COD_ESTPRO = EO.COD_ESTPRO
--			WHERE '001' = EO.COD_FABRICA 
--			AND  year(EO.fec_creacion) >= 2024
--			order by EO.fec_creacion asc

SELECT 
EO.cod_ordpro AS 'NP',
(select C.Nom_Cliente from TG_Cliente C where C.Cod_Cliente = EO.cod_cliente) AS 'Cliente',
(SELECT TOP 1 LTRIM(RTRIM(e.COD_TEMCLI)) + ' - ' + LTRIM(RTRIM(t.nom_temcli)) FROM TG_ESTCLIEST e 
inner join TG_TemCli t on e.cod_temcli = t.cod_temcli and e.COD_CLIENTE = t.COD_CLIENTE 
WHERE LTRIM(RTRIM(e.Cod_EstPro)) = EO.COD_ESTPRO) as 'Temporada',
EO.cod_estcli AS 'CodEstiloCliente',
EO.COD_ESTPRO as 'CodEstiloPropio',
--EP.DES_PRESENT AS 'COMBO',
EO.num_prenreq as 'Prendas'
	FROM ES_ORDPRO EO 
			WHERE EO.cod_ordpro like '%' + @NP + '%'

END  