USE [HIALPESA]
GO
/****** Object:  StoredProcedure [dbo].[SP_LG_MOVISTK]    Script Date: 26/06/2026 11:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
 EXEC SP_LG_MOVISTK  'I', '50', '', 'SC1', '', '', '', '', '', 'CATOCHE', '', '', '03/04/2025', '' ,'N','','566439', 0,'','',''
 SP_LG_MOVISTK  'I', '50', '', 'SC1', '', '', '', '', '', 'CATOCHE', '', '', '03/04/2025', '' ,'N','','566439', 0,'','',''
 EXEC SP_LG_MOVISTK  'I', '90', '', 'SOE', '', '', '', '', '', 'CATOCHE', '', '', '03/04/2025', '' ,'N','','566439', 0,'','',''
 EXEC SP_LG_MOVISTK  'I', '51', '', 'ST6', '', '', '', '', '', 'JCHAGALLAN', '', '', '29/03/2023', '' ,'N','','521824', 0,'','',''
*/

ALTER PROCEDURE [dbo].[SP_LG_MOVISTK] 
     @ACCION AS CHAR(1),
     @COD_ALMACEN AS COD_ALMACEN
	,@NUM_MOVSTK AS NUM_MOVSTK
	,@COD_TIPMOV AS COD_TIPMOV
	,@SER_ORDCOMP AS SER_ORDCOMP
	,@COD_ORDCOMP AS COD_ORDCOMP
	,@COD_ORDTRA AS COD_ORDTRA
	,@COD_PROVEEDOR AS COD_PROVEEDOR
	,@COD_CENCOST AS COD_CENCOST
	,@COD_USUARIO AS COD_USUARIO
	,@NUM_GUIA AS CHAR(15)
	,@OBSERVACIONES AS TEXT
	,@FEC_MOVSTK AS DATETIME
	,@COD_CLIENTE_TEX AS COD_CLIENTE = ''
	,@FLG_RE AS CHAR(1) = 'N'
	,@NUM_SEC_REPROCESO AS INT = 0
	,@NUM_REQUERIMIENTO AS INT = 0
	,@NUM_OT AS INT = 0
	,@RUC_TRANSPORTISTA AS CHAR(11) = ''
	,@NUM_PLACA AS CHAR(10) = ''
	,@COD_LICENCIA_TRANSP AS CHAR(20) = ''
	,@COD_ORDTRA_ESTAMPADO_CONTINUO COD_ORDTRA = '' AS

SET NOCOUNT ON
SET XACT_ABORT ON
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON

DECLARE @MSG AS CHAR(100)
	,@FLG_REQ_TINTO AS CHAR(1)
	,@FLG_REQ_LAVANDERIA AS CHAR(1)
	,@FLG_AJUSTE_NIIF AS CHAR(1)

DECLARE @LOTE INT

IF @ACCION NOT IN ('I','U','D')
BEGIN
	SET @MSG = 'ACCION NO VALIDA'
	RAISERROR (	@MSG,16,1)
	RETURN - 1
END

IF @ACCION IN (	'U'	,'D' )
BEGIN
	SELECT @FEC_MOVSTK = FEC_MOVSTK
	FROM LG_MOVISTK
	WHERE COD_ALMACEN = @COD_ALMACEN  AND NUM_MOVSTK = @NUM_MOVSTK
END

DECLARE @FECHA_VALIDA AS CHAR(1)
--DECLARE @Flg_Tintoreria_Acabados CHAR(1)

EXEC SM_VALIDA_FECHA_MOVIMIENTO_LG_ALMACEN @COD_ALMACEN ,@FEC_MOVSTK ,@FECHA_VALIDA OUTPUT

IF @FECHA_VALIDA = 'N'
BEGIN
	RAISERROR ('FECHA ES MENOR O IGUAL A ULTIMO CIERRE CONTABLE...NO PROCEDE',16,1)
	RETURN - 1
END

SELECT @FLG_AJUSTE_NIIF = FLG_AJUSTE_NIIF
FROM LG_TIPOSMOV
WHERE COD_TIPMOV = @COD_TIPMOV

DECLARE @FLG_QYC_CLIENTE AS CHAR(1)
	,@FLG_REQUERIMIENTO AS CHAR(1)
	,@FLG_QYC AS CHAR(1)

SELECT @FLG_QYC_CLIENTE = ISNULL(FLG_QYC_CLIENTE, 'N')
	,@FLG_QYC = ISNULL(FLG_QYC, 'N')
FROM LG_ALMACEN
WHERE COD_ALMACEN = @COD_ALMACEN

IF @FLG_QYC_CLIENTE = 'S'
BEGIN
	IF NOT EXISTS (
			SELECT *
			FROM TX_CLIENTE
			WHERE COD_CLIENTE_TEX = @COD_CLIENTE_TEX
			)
	BEGIN
		SET @MSG = 'CLIENTE NO EXISTE....'

		RAISERROR (@MSG	,16	,1)
		RETURN - 1
	END
END

IF @ACCION IN (
		'U'
		,'D'
		)
	AND NOT EXISTS (
		SELECT *
		FROM LG_MOVISTK
		WHERE COD_ALMACEN = @COD_ALMACEN
			AND NUM_MOVSTK = @NUM_MOVSTK
		)
BEGIN
	SET @MSG = 'MOVIMIENTO NO EXISTE ' + @COD_ALMACEN + '-' + @NUM_MOVSTK

	RAISERROR (
			@MSG
			,16
			,1
			)

	RETURN - 1
END

IF @ACCION = 'D'
	AND EXISTS (
		SELECT *
		FROM LG_MOVISTKITEM
		WHERE COD_ALMACEN + NUM_MOVSTK = @COD_ALMACEN + @NUM_MOVSTK
		)
BEGIN
	SET @MSG = 'MOVIMIENTO TIENE DETALLE...NO PUEDE SER ELIMINADO'

	RAISERROR (
			@MSG
			,16
			,1
			)

	RETURN - 1
END

IF @ACCION = 'I'
	AND NOT EXISTS (
		SELECT *
		FROM LG_TIPOSMOV
		WHERE COD_TIPMOV = @COD_TIPMOV
		)
BEGIN
	SET @MSG = 'TIPO MOVIMIENTO : ' + @COD_TIPMOV + ' NO EXISTE'

	RAISERROR (
			@MSG
			,16
			,1
			)

	RETURN - 1
END

IF NOT EXISTS (
		SELECT *
		FROM LG_TIPMOVIALM
		WHERE COD_ALMACEN = @COD_ALMACEN
			AND COD_TIPMOV = @COD_TIPMOV
		)
	AND EXISTS (
		SELECT *
		FROM LG_TIPOSMOV
		WHERE COD_TIPMOV = @COD_TIPMOV
			AND FLG_AJUSTE_NIIF = 'N'
		)
BEGIN
	SET @MSG = 'TIPO MOVIMIENTO NO PERMITIDO PARA ESTE ALMACEN'

	RAISERROR (
			@MSG
			,16
			,1
			)

	RETURN - 1
END

IF @ACCION IN (
		'U'
		,'D'
		)
BEGIN
	SELECT @COD_TIPMOV = COD_TIPMOV
	FROM LG_MOVISTK
	WHERE COD_ALMACEN = @COD_ALMACEN
		AND COD_TIPMOV = @COD_TIPMOV
END

DECLARE @COD_CLAORDCOMP AS COD_CLAORDCOMP
	,@COD_CLAMOV AS CHAR(1)
	,@TIP_ACCION AS CHAR(1)
	,@COD_TIPORDPRO AS CHAR(2)
	,@COD_TIPANX AS CHAR(1)
	,@FLG_REQ_ESTAMPADOS AS CHAR(1)
	,@FLG_MOV_OT_PIGMENTADO CHAR(1)
	,@FLG_OT_ESTAMPADO_CONTINUO CHAR(1)
	,@Flg_Tratamiento_efluentes CHAR(1)
	,@Flg_Tratamiento_efluentes_TIPMOV CHAR(1)
	,@Flg_Tintoreria_Acabados CHAR(1)
    ,@Flg_Tintoreria_Acabados2 CHAR(1)

SELECT @COD_CLAORDCOMP = COD_CLAORDCOMP
	,@COD_CLAMOV = COD_CLAMOV
	,@TIP_ACCION = TIP_ACCION
	,@COD_TIPORDPRO = COD_TIPORDPRO
	,@COD_TIPANX = COD_TIPANX
	,@FLG_REQUERIMIENTO = ISNULL(FLG_REQUERIMIENTO, 'N')
	,@FLG_REQ_TINTO = FLG_REQ_TINTO
	,@FLG_REQ_LAVANDERIA = FLG_REQ_LAVANDERIA
	,@FLG_REQ_ESTAMPADOS = FLG_REQ_ESTAMPADOS
	,@FLG_MOV_OT_PIGMENTADO = FLG_MOV_OT_PIGMENTADO
	,@FLG_OT_ESTAMPADO_CONTINUO = FLG_OT_ESTAMPADO_CONTINUO
	,@Flg_Tratamiento_efluentes_TIPMOV = Flg_Tratamiento_efluentes
FROM LG_TIPOSMOV
WHERE COD_TIPMOV = @COD_TIPMOV
 

SELECT *
INTO #PROV
FROM LG_PROVEEDOR
WHERE FLG_PROVEEDOR_PROPIO = 'S'

IF @ACCION = 'I'
BEGIN
	DECLARE @FLG_STATUS_REQ AS CHAR(1)
		,@COD_MOTIVO_REQUER AS CHAR(3)
		,@COD_ORDPRO AS COD_ORDPRO
		,@FLG_CLIENTE_LAV AS CHAR(1)

	IF @FLG_REQUERIMIENTO = 'S' AND @COD_TIPORDPRO IN ( 'TI','TE')
		BEGIN
			IF NOT EXISTS (
					SELECT *
					FROM TI_ORDTRA_TINTORERIA_REQ_ADIC
					WHERE NUM_REQUERIMIENTO = @NUM_REQUERIMIENTO
					)
			BEGIN
				SET @MSG = 'REQUERIMIENTO  NO EXISTE..' + CONVERT(VARCHAR(10), @NUM_REQUERIMIENTO)
				RAISERROR (	@MSG,16,1)
				RETURN - 1
			END
		END

	IF @FLG_REQUERIMIENTO = 'S'
		AND @COD_TIPORDPRO = 'EC'
	BEGIN
		IF NOT EXISTS (
				SELECT *
				FROM DBO.ET_ORDTRA_REQ_QYC
				WHERE NUM_REQUERIMIENTO = @NUM_REQUERIMIENTO
				)
		BEGIN
			SET @MSG = 'REQUERIMIENTO ESTAMPADO CONTINUO NO EXISTE..' + CONVERT(VARCHAR(10), @NUM_REQUERIMIENTO)

			RAISERROR (
					@MSG
					,16
					,1
					)

			RETURN - 1
		END
	END

	IF @FLG_MOV_OT_PIGMENTADO = 'S'
	BEGIN
		IF NOT EXISTS (
				SELECT NUM_OT
				FROM LV_PIGMENTADO_OT
				WHERE NUM_OT = @NUM_OT
				)
		BEGIN
			SET @MSG = 'OT PIGMENTADO  NO EXISTE..' + CONVERT(VARCHAR(10), @NUM_OT)

			RAISERROR (
					@MSG
					,16
					,1
					)

			RETURN - 1
		END

		DECLARE @COD_COLOR_PG AS COD_COLOR

		SELECT @COD_COLOR_PG = COD_COLOR
		FROM LV_PIGMENTADO_OT
		WHERE NUM_OT = @NUM_OT

		IF SUBSTRING(@COD_COLOR_PG, 1, 1) = 'E'
			AND @COD_TIPMOV = 'SPG'
		BEGIN
			SET @MSG = 'OT ES DE EFECTOS ESPECIALES...TIPO DE MOV INCORRECTO..'

			RAISERROR (
					@MSG
					,16
					,1
					)

			RETURN - 1
		END

		IF SUBSTRING(@COD_COLOR_PG, 1, 1) <> 'E'
			AND @COD_TIPMOV = 'SEE'
		BEGIN
			SET @MSG = 'OT ES DE EFECTOS ESPECIALES...TIPO DE MOV INCORRECTO..'

			RAISERROR (
					@MSG
					,16
					,1
					)

			RETURN - 1
		END
	END

	IF @COD_TIPMOV = 'E99'
	BEGIN
		IF NOT EXISTS (
				SELECT *
				FROM #PROV
				WHERE COD_PROVEEDOR = @COD_PROVEEDOR
				)
		BEGIN
			SET @MSG = 'TIPO DE MOVIMIENTO EXCLUSIVO PARA PROVEEDOR PROPIO'

			RAISERROR (
					@MSG
					,16
					,1
					)

			RETURN - 1
		END
	END

	IF @COD_TIPMOV = 'E01'
	BEGIN
		IF EXISTS (
				SELECT *
				FROM #PROV
				WHERE COD_PROVEEDOR = @COD_PROVEEDOR
				)
		BEGIN
			SET @MSG = 'TIPO DE MOVIMIENTO EXCLUSIVO PARA PROVEEDOR EXTERNOS'

			RAISERROR (
					@MSG
					,16
					,1
					)

			RETURN - 1
		END
	END
	 
	IF @FLG_REQUERIMIENTO = 'S'
	BEGIN
		SELECT @FLG_STATUS_REQ = FLG_STATUS
			,@COD_ORDTRA = ISNULL(COD_ORDTRA, '')
			,@COD_MOTIVO_REQUER = COD_MOTIVO_REQUER
			,@COD_ORDPRO = ISNULL(COD_ORDPRO, '')
			,@COD_CLIENTE_TEX = COD_CLIENTE
		FROM TI_ORDTRA_TINTORERIA_REQ_ADIC
		WHERE NUM_REQUERIMIENTO = @NUM_REQUERIMIENTO

		
		-- comentado temporalmente hasta que ronald termine  13-11-2024
		--IF @FLG_STATUS_REQ <> 'P' 	AND @COD_CLAMOV = 'S'  
		--BEGIN
		--	SET @MSG = 'STATUS NO PERMITIDO...' + @FLG_STATUS_REQ
		--	RAISERROR (	@MSG ,16 ,1 )
		--	RETURN  -1
		--END

		DECLARE @COD_CENCOST_M AS COD_CENCOST
			,@FLG_TINTORERIA AS CHAR(1)
			,@FLG_LAVANDERIA AS CHAR(1)
			,@FLG_ORDPRO AS CHAR(1)
			,@FLG_TINTORERIA_HILADOS AS CHAR(1)
			,@FLG_PARTIDA AS CHAR(1)
			,@FLG_ESTAMPADOS AS CHAR(1)

		SELECT @COD_CENCOST_M = ISNULL(COD_CENCOST, '')
			,@FLG_PARTIDA = FLG_PARTIDA
			,@FLG_TINTORERIA = FLG_TINTORERIA
			,@FLG_TINTORERIA_HILADOS = FLG_TINTORERIA_HILADOS
			,@FLG_LAVANDERIA = FLG_LAVANDERIA
			,@FLG_ORDPRO = FLG_ORDPRO
			,@FLG_CLIENTE_LAV = FLG_CLIENTE_LAV
			,@FLG_ESTAMPADOS = FLG_ESTAMPADOS
			,@Flg_Tratamiento_efluentes = Flg_Tratamiento_efluentes
			,@Flg_Tintoreria_Acabados = Flg_Tintoreria_Acabados
			,@Flg_Tintoreria_Acabados2=Flg_Tintoreria_Acabados
			
		FROM TI_MOTIVO_REQ
		WHERE COD_MOTIVO_REQUER = @COD_MOTIVO_REQUER

		IF @Flg_Tintoreria_Acabados2 ='S' AND @COD_ORDTRA=''
		BEGIN
          SELECT @COD_ORDTRA=Cod_Ordtra FROM TI_Ordtra_Tintoreria_Req_Adic_Partidas_Item_Procesos
	    	 WHERE Num_Requerimiento =@NUM_REQUERIMIENTO
		END 


		IF @FLG_ORDPRO = 'S'
		BEGIN
			SELECT @COD_ORDTRA = @COD_ORDPRO
		END

		IF @FLG_PARTIDA = 'N'
			AND @COD_ORDTRA <> ''
			AND @COD_TIPORDPRO <> 'CF'
			AND ISNULL(@Flg_Tintoreria_Acabados2,'') <>'S'
		BEGIN
			SET @MSG = 'REQUERIMIENTO NO REQUIERE PARTIDA..'

			RAISERROR (
					@MSG
					,16
					,1
					)

			RETURN - 1
		END

		IF @COD_CENCOST_M <> ''
		BEGIN
			SELECT @COD_CENCOST = @COD_CENCOST_M
		END
 
		IF @FLG_REQ_TINTO = 'S'
			AND (
				@FLG_TINTORERIA = 'N'
				AND @FLG_TINTORERIA_HILADOS = 'N'
				AND @Flg_Tratamiento_efluentes = 'N'
				and @Flg_Tintoreria_Acabados = 'N'
				AND @FLG_OT_ESTAMPADO_CONTINUO = 'N'
				)
		BEGIN
			IF @FLG_REQ_TINTO <> @FLG_TINTORERIA
			BEGIN
				SET @MSG = 'REQUERIMIENTO NO ES DE TINTO/LAV-1/EST.CONTINUO ' + @FLG_REQ_TINTO + @FLG_TINTORERIA

				RAISERROR (
						@MSG
						,16
						,1
						)

				RETURN - 1
			END
		END

		IF @FLG_REQ_TINTO = 'N'
			AND (
				@FLG_TINTORERIA = 'S'
				OR @FLG_TINTORERIA_HILADOS = 'S'
				)
		BEGIN
			IF @FLG_REQ_TINTO <> @FLG_TINTORERIA
			BEGIN
				SET @MSG = 'REQUERIMIENTO NO ES DE TINTO/LAV-1 ' + @FLG_REQ_TINTO + @FLG_TINTORERIA

				RAISERROR (
						@MSG
						,16
						,1
						)

				RETURN - 1
			END
		END

		IF (
				@FLG_REQ_ESTAMPADOS = 'S'
				AND @FLG_ESTAMPADOS <> 'S'
				)
			AND (
				@FLG_REQ_LAVANDERIA = 'S'
				AND @FLG_LAVANDERIA <> 'S'
				)
		BEGIN
			SET @MSG = 'REQUERIMIENTO NO ES DE ESTAMPADOS NI DE LAVANDERIA '

			RAISERROR (
					@MSG
					,16
					,1
					)

			RETURN - 1
		END

		IF @Flg_Tratamiento_efluentes_TIPMOV  = 'S' 
		   BEGIN
		      IF @Flg_Tratamiento_efluentes <> @Flg_Tratamiento_efluentes_TIPMOV
			     BEGIN
				    RAISERROR('REQUERIMIENTO NO ES DE TRATAMIENTO DE EFLUENTES',16,1)
					RETURN 
				 END 
		   END
		/*
	SELECT FLG_REQ_LAVANDERIA,FLG_REQ_ESTAMPADOS,* FROM LG_TIPOSMOV WHERE DES_TIPMOV LIKE '%EST%' AND TIP_ITEM = 'I'
	SELECT FLG_ESTAMPADOS,* FROM TI_MOTIVO_REQ WHERE DESCRIPCION LIKE '%EST%'
	SELECT 

	SELECT * FROM TI_ORDTRA_TINTORERIA_REQ_ADIC WHERE COD_MOTIVO_REQUER IN ('30','31')

*/
		IF @FLG_REQ_LAVANDERIA <> @FLG_LAVANDERIA
		BEGIN
			SET @MSG = 'REQUERIMIENTO NO ES DE TINTO/LAV-2' + @FLG_REQ_LAVANDERIA + @FLG_LAVANDERIA
			RAISERROR (	@MSG,16,1)
			RETURN - 1
		END

		IF @FLG_CLIENTE_LAV = 'S'
		BEGIN
			IF NOT EXISTS (
					SELECT *
					FROM LV_ORDPRO
					WHERE COD_CLIENTE_TEX = @COD_CLIENTE_TEX AND COD_ORDPRO = @COD_ORDPRO
					)
			BEGIN
				SET @MSG = 'ORDEN NO EXISTE..' + @COD_ORDPRO

				RAISERROR (
						@MSG
						,16
						,1
						)

				RETURN - 1
			END
		END
	END
END

IF @ACCION = 'I'
BEGIN
	IF @COD_CLAORDCOMP <> ''
	BEGIN
		IF NOT EXISTS (
				SELECT *
				FROM LG_ORDCOMP
				WHERE SER_ORDCOMP + COD_ORDCOMP = @SER_ORDCOMP + @COD_ORDCOMP
				)
		BEGIN
			SET @MSG = 'ORDEN DE COMPRA : ' + @SER_ORDCOMP + '-' + @COD_ORDCOMP + ' NO EXISTE..'

			RAISERROR (
					@MSG
					,16
					,1
					)

			RETURN - 1
		END
		ELSE
		BEGIN
			DECLARE @COD_STAORDCOMP AS CHAR(1)
				,@COD_CLAORDCOMP_OC AS COD_CLAORDCOMP
				,@COD_PROVEEDOR_OC AS COD_PROVEEDOR

			SELECT @COD_STAORDCOMP = COD_STAORDCOMP
				,@COD_CLAORDCOMP_OC = COD_CLAORDCOMP
				,@COD_PROVEEDOR_OC = COD_PROVEEDOR
			FROM LG_ORDCOMP
			WHERE SER_ORDCOMP + COD_ORDCOMP = @SER_ORDCOMP + @COD_ORDCOMP

			IF @COD_STAORDCOMP NOT IN ('L')
			BEGIN
				SET @MSG = 'STATUS ' + @COD_STAORDCOMP + ' NO PERMITE ACCION'

				RAISERROR (
						@MSG
						,16
						,1
						)

				RETURN - 1
			END

			IF @COD_CLAORDCOMP <> @COD_CLAORDCOMP_OC
			BEGIN
				SET @MSG = 'CLASE DE ORDEN DE COMPRA...NO ES IGUAL AL DE MOVIMIENTO'

				RAISERROR (
						@MSG
						,16
						,1
						)

				RETURN - 1
			END

			IF @COD_PROVEEDOR <> @COD_PROVEEDOR_OC
			BEGIN
				SET @MSG = 'PROVEEDOR DE ORDEN DE COMPRA...NO ES IGUAL AL DE MOVIMIENTO'

				RAISERROR (
						@MSG
						,16
						,1
						)

				RETURN - 1
			END
		END

		--IF @NUM_GUIA = ''
		--BEGIN
		--	SET @MSG = 'NUMERO GUIA NO EXISTE..'

		--	RAISERROR (
		--			@MSG
		--			,16
		--			,1
		--			)

		--	RETURN - 1
		--END
	END
END

IF @TIP_ACCION = 'E'
	AND @COD_TIPANX = 'C'
BEGIN
	IF NOT EXISTS (
			SELECT *
			FROM TX_CLIENTE
			WHERE COD_CLIENTE_TEX = @COD_CLIENTE_TEX
			)
	BEGIN
		SET @MSG = 'CLIENTE NO EXISTE'

		RAISERROR (
				@MSG
				,16
				,1
				)

		RETURN - 1
	END

	IF @COD_CLAMOV = 'E'
		AND @NUM_GUIA = ''
	BEGIN
		SET @MSG = 'NUMERO GUIA NO ESPECIFICADO....'

		RAISERROR (
				@MSG
				,16
				,1
				)

		RETURN - 1
	END
END

IF @ACCION = 'I'
	AND @TIP_ACCION = 'E'
	AND @COD_TIPANX = 'P'
BEGIN
	IF NOT EXISTS (
			SELECT *
			FROM LG_PROVEEDOR
			WHERE COD_PROVEEDOR = @COD_PROVEEDOR
			)
	BEGIN
	
    SET @MSG = 'PROVEEDOR NO EXISTE'
		RAISERROR (
				@MSG
				,16
				,1
				)

		RETURN - 1
	END
END

IF @ACCION = 'I'
	AND @TIP_ACCION = 'I'
	AND @COD_TIPORDPRO = ''
	AND @FLG_AJUSTE_NIIF = 'N'
BEGIN
	IF NOT EXISTS (
			SELECT *
			FROM TX_CENCOSTO
			WHERE COD_CENCOST = @COD_CENCOST
			)
	BEGIN
		SET @MSG = 'CENTRO COSTO NO EXISTE'

		RAISERROR (
				@MSG
				,16
				,1
				)

		RETURN - 1
	END
END

IF @ACCION = 'I'
	AND @COD_TIPORDPRO = 'TI'
	AND NOT EXISTS (
		SELECT *
		FROM TI_ORDTRA_TINTORERIA
		WHERE COD_ORDTRA = RTRIM(LTRIM(@COD_ORDTRA))
		)
BEGIN
	SET @MSG = 'PARTIDA : ' + @COD_ORDTRA + ' NO EXISTE'

	RAISERROR (
			@MSG
			,16
			,1
			)

	RETURN - 1
END

IF @ACCION = 'I'
	AND @COD_TIPORDPRO = 'TH'
	AND NOT EXISTS (
		SELECT *
		FROM TH_ORDTRA_TINTORERIA
		WHERE COD_ORDTRA = @COD_ORDTRA
		)
BEGIN
	SET @MSG = 'PARTIDA HILOS : ' + @COD_ORDTRA + ' NO EXISTE'

	RAISERROR (
			@MSG
			,16
			,1
			)

	RETURN - 1
END

IF @ACCION = 'I'
	AND @COD_TIPORDPRO = 'PG'
	AND NOT EXISTS (
		SELECT *
		FROM LV_PIGMENTADO_OT
		WHERE NUM_OT = @NUM_OT
		)
BEGIN
	SET @MSG = 'OT PIGMENTO : ' + @NUM_OT + ' NO EXISTE'

	RAISERROR (
			@MSG
			,16
			,1
			)

	RETURN - 1
END

IF @ACCION = 'I'
	AND @COD_TIPORDPRO = 'EM'
	AND NOT EXISTS (
		SELECT *
		FROM ET_Ordtra 
		WHERE Cod_Ordtra  = @COD_ORDTRA

		)
BEGIN
	SET @MSG = 'OT ESTAMPADO : ' + @COD_ORDTRA + ' NO EXISTE'

	RAISERROR (
			@MSG
			,16
			,1
			)

	RETURN - 1
END
/* VERIFICA MOVIMIENTO DESTINO */
DECLARE @TIENE_RELACIONADO AS CHAR(1)

SELECT @TIENE_RELACIONADO = 'N'

IF EXISTS (
		SELECT *
		FROM LG_TIPMOVREL
		WHERE COD_ALMACEN_REL = @COD_ALMACEN
			AND COD_TIPMOV_REL = @COD_TIPMOV
		)
BEGIN
	SET @MSG = 'MOVIMIENTO ES DESTINO...NO PROCEDE...'

	RAISERROR (
			@MSG
			,16
			,1
			)

	RETURN - 1
END

DECLARE @COD_TIPMOV_REL AS COD_TIPMOV
	,@COD_ALMACEN_REL AS COD_ALMACEN
	,@NUM_MOVSTK_REL AS NUM_MOVSTK

SELECT @COD_ALMACEN_REL = ''
	,@NUM_MOVSTK_REL = ''

IF EXISTS (
		SELECT *
		FROM LG_TIPMOVREL
		WHERE COD_ALMACEN = @COD_ALMACEN
			AND COD_TIPMOV = @COD_TIPMOV
		)
BEGIN
	SELECT @COD_TIPMOV_REL = COD_TIPMOV_REL
		,@COD_ALMACEN_REL = COD_ALMACEN_REL
	FROM LG_TIPMOVREL
	WHERE COD_ALMACEN = @COD_ALMACEN
		AND COD_TIPMOV = @COD_TIPMOV

	SELECT @TIENE_RELACIONADO = 'S'

	IF @ACCION IN (
			'U'
			,'D'
			)
	BEGIN
		SELECT @COD_ALMACEN_REL = COD_ALMACEN_REL
			,@NUM_MOVSTK_REL = NUM_MOVSTK_REL
		FROM LG_MOVISTK
		WHERE COD_ALMACEN = @COD_ALMACEN
			AND NUM_MOVSTK = @NUM_MOVSTK
	END
END


--select @ACCION,@FLG_REQUERIMIENTO,@COD_CLAMOV


IF @ACCION = 'I'
	AND @FLG_REQUERIMIENTO = 'S'
	AND @COD_CLAMOV = 'S'
BEGIN



	SELECT COD_ITEM
		,SUM(CONS_REQUERIDO - CONS_ATENDIDO) AS QTY
	INTO #REQ
	FROM TI_ORDTRA_TINTORERIA_REQ_ADIC_ITEMS
	WHERE NUM_REQUERIMIENTO = @NUM_REQUERIMIENTO
		AND (CONS_REQUERIDO - CONS_ATENDIDO) > 0
	GROUP BY COD_ITEM

	IF EXISTS (
			SELECT A.COD_ITEM
			FROM LG_STOCKSITEM A
				,#REQ B
			WHERE COD_ALMACEN = @COD_ALMACEN
				AND A.COD_ITEM = B.COD_ITEM
				AND CAN_STOCK < QTY
			)
	BEGIN
		SET @MSG = 'EXISTEN ITEMS SIN STOCK SUFICIENTE..'

		RAISERROR (
				@MSG
				,16
				,1
				)

		RETURN - 1
	END
END

IF @ACCION = 'I' AND @FLG_MOV_OT_PIGMENTADO = 'S'
BEGIN
	SELECT COD_ITEM	,SUM(CONS_REQUERIDO - CONS_ATENDIDO) AS QTY
	INTO #REQ_PG
	FROM LV_PIGMENTADO_QYC
	WHERE NUM_OT = @NUM_OT
		AND (CONS_REQUERIDO - CONS_ATENDIDO) > 0
	GROUP BY COD_ITEM

	IF EXISTS (
			SELECT A.COD_ITEM
			FROM LG_STOCKSITEM A
				,#REQ_PG B
			WHERE COD_ALMACEN = @COD_ALMACEN
				AND A.COD_ITEM = B.COD_ITEM
				AND CAN_STOCK < QTY
			)
	BEGIN
		SET @MSG = 'EXISTEN ITEMS SIN STOCK SUFICIENTE..'

		RAISERROR (
				@MSG
				,16
				,1
				)

		RETURN - 1
	END
END

IF @ACCION = 'D'
BEGIN
	SELECT @FEC_MOVSTK = FEC_MOVSTK
	FROM LG_MOVISTK
	WHERE COD_ALMACEN = @COD_ALMACEN
		AND NUM_MOVSTK = @NUM_MOVSTK
END

IF @FLG_QYC = 'S'
BEGIN
	IF DBO.INDICADORES_AREA_PRODUCCION_VALIDA_FECHA_TRANSACCION('TI', @FEC_MOVSTK) = 'N'
	BEGIN
		SET @MSG = 'FECHA ES MENOR A CIERRE DE INDICADORES...NO PROCEDE'

		RAISERROR (
				@MSG
				,16
				,1
				)

		RETURN
	END
END

/*AGREGADO POR DA 21/09/2017*/
IF @ACCION IN ('I')
BEGIN
	IF @COD_ALMACEN IN ('60')
	BEGIN
		IF @COD_TIPMOV = 'S02'
		BEGIN
			IF @COD_CENCOST <> '60'
			BEGIN
				SET @MSG = 'SOLO SE PERMITE DESPACHOS A CENTRO DE COSTO ESTAMPADOS'

				RAISERROR (
						@MSG
						,16
						,1
						)

				RETURN
			END
		END
	END
END

/*-------------------------*/
BEGIN TRANSACTION

IF @ACCION = 'I'
BEGIN
print 'aca te necesito'
SELECT *
			FROM LG_MOVISTK
			WHERE COD_ALMACEN = @COD_ALMACEN

	DECLARE @MOVSTK AS INT

	IF NOT EXISTS (
			SELECT *
			FROM LG_MOVISTK
			WHERE COD_ALMACEN = @COD_ALMACEN
			)
	BEGIN
		SELECT @MOVSTK = 1
	END
	ELSE
	BEGIN
		SELECT @MOVSTK = MAX(CONVERT(INT, NUM_MOVSTK))
		FROM LG_MOVISTK
		WHERE COD_ALMACEN = @COD_ALMACEN

		SELECT @MOVSTK = @MOVSTK + 1
	END

	SELECT @NUM_MOVSTK = DBO.UF_STRZERO(@MOVSTK, 6)

	INSERT LG_MOVISTK (
		COD_ALMACEN
		,NUM_MOVSTK
		,COD_PROVEEDOR
		,SER_ORDCOMP
		,COD_ORDCOMP
		,COD_CENCOST
		,NUM_GUIA
		,COD_ORDTRA
		,COD_USUARIO
		,OBSERVACIONES
		,COD_TIPMOV
		,COD_TIPORDTRA
		,FEC_MOVSTK
		,FEC_CREACION
		,COD_CLIENTE
		,FLG_RE
		,NUM_SEC_REPROCESO
		,NUM_REQUERIMIENTO
		,NUM_OT_PIGMENTO
		,COD_CLIENTE_TEX
		,RUC_TRANSPORTISTA
		,NUM_PLACA
		,COD_LICENCIA_TRANSP
		,COD_ORDTRA_ESTAMPADO_CONTINUO
		)
	VALUES (
		@COD_ALMACEN
		,@NUM_MOVSTK
		,@COD_PROVEEDOR
		,@SER_ORDCOMP
		,@COD_ORDCOMP
		,@COD_CENCOST
		,@NUM_GUIA
		,@COD_ORDTRA
		,@COD_USUARIO
		,@OBSERVACIONES
		,@COD_TIPMOV
		,@COD_TIPORDPRO
		,@FEC_MOVSTK
		,GETDATE()
		,@COD_CLIENTE_TEX
		,@FLG_RE
		,@NUM_SEC_REPROCESO
		,@NUM_REQUERIMIENTO
		,@NUM_OT
		,@COD_CLIENTE_TEX
		,@RUC_TRANSPORTISTA
		,@NUM_PLACA
		,@COD_LICENCIA_TRANSP
		,@COD_ORDTRA_ESTAMPADO_CONTINUO
		)

	IF @TIENE_RELACIONADO = 'S'
	BEGIN
		IF NOT EXISTS (
				SELECT *
				FROM LG_MOVISTK
				WHERE COD_ALMACEN = @COD_ALMACEN_REL
				)
		BEGIN
			SELECT @MOVSTK = 1
		END
		ELSE
		BEGIN
			SELECT @MOVSTK = MAX(CONVERT(INT, NUM_MOVSTK))
			FROM LG_MOVISTK
			WHERE COD_ALMACEN = @COD_ALMACEN_REL

			SELECT @MOVSTK = @MOVSTK + 1
		END

		SELECT @NUM_MOVSTK_REL = DBO.UF_STRZERO(@MOVSTK, 6)

		INSERT LG_MOVISTK (
			COD_ALMACEN
			,NUM_MOVSTK
			,COD_PROVEEDOR
			,SER_ORDCOMP
			,COD_ORDCOMP
			,COD_CENCOST
			,NUM_GUIA
			,COD_ORDTRA
			,COD_USUARIO
			,OBSERVACIONES
			,COD_TIPMOV
			,COD_TIPORDTRA
			,FEC_MOVSTK
			,FEC_CREACION
			,COD_ALMACEN_REL
			,NUM_MOVSTK_REL
			,FLG_RE
			,NUM_SEC_REPROCESO
			,RUC_TRANSPORTISTA
			,NUM_PLACA
			,COD_LICENCIA_TRANSP
			,COD_ORDTRA_ESTAMPADO_CONTINUO
			)
		VALUES (
			@COD_ALMACEN_REL
			,@NUM_MOVSTK_REL
			,@COD_PROVEEDOR
			,@SER_ORDCOMP
			,@COD_ORDCOMP
			,@COD_CENCOST
			,@NUM_GUIA
			,@COD_ORDTRA
			,@COD_USUARIO
			,@OBSERVACIONES
			,@COD_TIPMOV_REL
			,@COD_TIPORDPRO
			,@FEC_MOVSTK
			,GETDATE()
			,@COD_ALMACEN
			,@NUM_MOVSTK
			,@FLG_RE
			,@NUM_SEC_REPROCESO
			,@RUC_TRANSPORTISTA
			,@NUM_PLACA
			,@COD_LICENCIA_TRANSP
			,@COD_ORDTRA_ESTAMPADO_CONTINUO
			)

		UPDATE LG_MOVISTK
		SET COD_ALMACEN_REL = @COD_ALMACEN_REL 
			,NUM_MOVSTK_REL = @NUM_MOVSTK_REL
		WHERE COD_ALMACEN = @COD_ALMACEN
			AND NUM_MOVSTK = @NUM_MOVSTK
	END
END

	 
IF @ACCION = 'D'
BEGIN
 ------------------------ cursor para adicionar  o quitar stock a QyC ------------------------
   select Cod_Almacen,Num_MovStk, cod_item,lote,Can_Movimiento 
    into #ITEMS
    from  LG_MOVISTKITEM  where Cod_Almacen = @COD_ALMACEN AND  Num_MovStk=@NUM_MOVSTK   
 -------------------------------------------  Lg_StocksItem_Lote  -----------------------------
		UPDATE Lg_StocksItem_Lote
		SET    Can_Reservado= Can_Reservado + b.Can_Movimiento
			-- ,Can_Stock =Can_Stock + b.Can_Movimiento                                                // ya lo hace en el sp 
		FROM   Lg_StocksItem_Lote a  inner join   #ITEMS b on  a.Cod_Item=b.Cod_Item and a.Lote=b.Lote
		WHERE  a.Cod_Almacen=@COD_ALMACEN and b.lote>0
 -------------------------------------------------------------------------------------------
	DELETE LG_MOVISTK
	WHERE COD_ALMACEN = @COD_ALMACEN AND NUM_MOVSTK = @NUM_MOVSTK

	IF @TIENE_RELACIONADO = 'S'
	BEGIN
		DELETE LG_MOVISTK
		WHERE COD_ALMACEN = @COD_ALMACEN  AND  NUM_MOVSTK = @NUM_MOVSTK
	END
END

IF @ACCION = 'U'
BEGIN
	UPDATE LG_MOVISTK
	SET OBSERVACIONES = @OBSERVACIONES
		,NUM_GUIA = @NUM_GUIA
	WHERE COD_ALMACEN = @COD_ALMACEN
		AND NUM_MOVSTK = @NUM_MOVSTK

	IF @TIENE_RELACIONADO = 'S'
	BEGIN
		UPDATE LG_MOVISTK
		SET OBSERVACIONES = @OBSERVACIONES
			,NUM_GUIA = @NUM_GUIA
		WHERE COD_ALMACEN + NUM_MOVSTK = @COD_ALMACEN_REL + @NUM_MOVSTK_REL
	END
END

IF @ACCION = 'I'
	AND @FLG_REQUERIMIENTO = 'S'
	AND @COD_CLAMOV = 'S'
BEGIN

	--AQUI

	DECLARE @SECUX AS INT
		,@COD_ITEMX AS COD_ITEM
		,@CONSUMOX AS NUMERIC(13, 4)

	SELECT SECU
		,COD_ITEM
		,CONS_REQUERIDO - CONS_ATENDIDO
		,Lote 
	FROM TI_ORDTRA_TINTORERIA_REQ_ADIC_ITEMS
	WHERE NUM_REQUERIMIENTO = @NUM_REQUERIMIENTO
		AND (CONS_REQUERIDO - CONS_ATENDIDO) > 0


SELECT SECU 
		,COD_ITEM
		,CONS_REQUERIDO - CONS_ATENDIDO
		,Lote 
	FROM TI_ORDTRA_TINTORERIA_REQ_ADIC_ITEMS
	WHERE NUM_REQUERIMIENTO = @NUM_REQUERIMIENTO
		AND (CONS_REQUERIDO - CONS_ATENDIDO) > 0.000000



	DECLARE CRS_ACUM CURSOR FAST_FORWARD READ_ONLY FORWARD_ONLY
	FOR
	SELECT SECU 
		,COD_ITEM
		,CONSUMO=  CONS_REQUERIDO - CONS_ATENDIDO
		,Lote 
	FROM TI_ORDTRA_TINTORERIA_REQ_ADIC_ITEMS
	WHERE NUM_REQUERIMIENTO = @NUM_REQUERIMIENTO
		AND (CONS_REQUERIDO - CONS_ATENDIDO) > 0.000000

	OPEN CRS_ACUM

	FETCH NEXT
	FROM CRS_ACUM
	INTO @SECUX
		,@COD_ITEMX
		,@CONSUMOX
        ,@LOTE 
	WHILE @@FETCH_STATUS = 0
	BEGIN
				
 --SET @MSG = @COD_ALMACEN + '  -  ' + @NUM_MOVSTK + ' - ' + @COD_ITEMX
 --RAISERROR (@MSG,16,1)

		EXEC TI_QYC_UP_MAN_LG_MOVISTKITEM 'I'
			,@COD_ALMACEN
			,@NUM_MOVSTK
			,''
			,@COD_ITEMX
			,''
			,@CONSUMOX
			,''
			,''
			,'K'
			,@SECUX
			,''
			,@LOTE 

        IF @@ERROR <> 0
            BEGIN
                --ROLLBACK TRANSACTION  
                RAISERROR ('ERROR SP TI_QYC_UP_MAN_LG_MOVISTKITEM  ',16,1)
                --RETURN
            END

		FETCH NEXT
		FROM CRS_ACUM
		INTO @SECUX
			,@COD_ITEMX
			,@CONSUMOX
			,@LOTE 
	END

	CLOSE CRS_ACUM
	DEALLOCATE CRS_ACUM
END

IF @ACCION = 'I' AND @FLG_MOV_OT_PIGMENTADO = 'S'
BEGIN
	DECLARE @COD_ITEM_PG AS COD_ITEM
		,@CONSUMO_PG AS NUMERIC(13, 5)

	DECLARE CRS_ACUM_PG CURSOR FAST_FORWARD READ_ONLY FORWARD_ONLY
	FOR
	SELECT COD_ITEM
		,CONS_REQUERIDO - CONS_ATENDIDO
	FROM LV_PIGMENTADO_QYC
	WHERE NUM_OT = @NUM_OT
		AND (CONS_REQUERIDO - CONS_ATENDIDO) > 0

	OPEN CRS_ACUM_PG

	FETCH NEXT
	FROM CRS_ACUM_PG
	INTO @COD_ITEM_PG
		,@CONSUMO_PG

	WHILE @@FETCH_STATUS = 0
	BEGIN
		EXEC TI_QYC_UP_MAN_LG_MOVISTKITEM 'I'
			,@COD_ALMACEN
			,@NUM_MOVSTK
			,''
			,@COD_ITEM_PG
			,''
			,@CONSUMO_PG
			,''
			,''
			,'K'
			,''

		FETCH NEXT
		FROM CRS_ACUM_PG
		INTO @COD_ITEM_PG
			,@CONSUMO_PG
	END

	CLOSE CRS_ACUM_PG
	DEALLOCATE CRS_ACUM_PG
--	-------------------------------------- Lg_StocksItem_Lote -----------------------------------
-- 	UPDATE Lg_StocksItem_Lote
--	SET    Can_Reservado=Can_Reservado - b.Can_Movimiento
--  	   --   ,Can_Stock =Can_Stock - b.Can_Movimiento  // ya lo hace en el sp 
--	FROM   Lg_StocksItem_Lote a  inner join   #ITEMS b on  a.Cod_Item=b.Cod_Item and a.Lote=b.Lote
--	WHERE  a.Cod_Almacen='51' and b.lote>0
------------------------------------------------------------------------------------------------------
END
SELECT @NUM_MOVSTK
COMMIT TRANSACTION
