USE [HIALPESA]
GO
/****** Object:  StoredProcedure [dbo].[TI_QYC_MUESTRA_DETALLE_MOVIMIENTO]    Script Date: 26/06/2026 10:34:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[TI_QYC_MUESTRA_DETALLE_MOVIMIENTO] 
	@COD_ALMACEN AS COD_ALMACEN
	,@NUM_MOVSTK AS NUM_MOVSTK 
	AS

SET NOCOUNT ON

DECLARE @COD_TIPMOV AS COD_TIPMOV
	,@COD_TIPANX CHAR(1)
	,@TIP_ACCION CHAR(1)
	,@FLG_QYC_CLIENTE CHAR(1)

SELECT NUM_SECUENCIA
	,COD_ITEM
	,CAN_MOVIMIENTO
	,COD_TIPORDPRO
	,COD_ORDPRO
	,PRE_UNITARIO_VENTA
	,Lote = 0 
INTO #DATOS
FROM LG_MOVISTKITEM
WHERE COD_ALMACEN = ''
	AND NUM_MOVSTK = ''

SELECT @COD_TIPMOV = COD_TIPMOV
FROM LG_MOVISTK
WHERE COD_ALMACEN = @COD_ALMACEN
	AND NUM_MOVSTK = @NUM_MOVSTK

SELECT @COD_TIPANX = COD_TIPANX
	,@TIP_ACCION = TIP_ACCION
FROM LG_TIPOSMOV
WHERE @COD_TIPMOV = COD_TIPMOV

SELECT @FLG_QYC_CLIENTE = ISNULL(FLG_QYC_CLIENTE, 'N')
FROM LG_ALMACEN
WHERE COD_ALMACEN = @COD_ALMACEN

IF @FLG_QYC_CLIENTE = 'S'
BEGIN
	INSERT INTO #DATOS
	SELECT NUM_SECUENCIA
		,COD_ITEM
		,CAN_MOVIMIENTO
		,COD_TIPORDPRO
		,COD_ORDPRO
		,0
		,Lote  = 0
	FROM LG_MOVISTKITEM_CLIENTE
	WHERE COD_ALMACEN = @COD_ALMACEN
		AND NUM_MOVSTK = @NUM_MOVSTK
END
ELSE
BEGIN
	INSERT INTO #DATOS
	SELECT NUM_SECUENCIA
		,COD_ITEM
		,CAN_MOVIMIENTO
		,COD_TIPORDPRO
		,COD_ORDPRO
		,PRE_UNITARIO_VENTA
		,Lote 
	FROM LG_MOVISTKITEM
	WHERE COD_ALMACEN = @COD_ALMACEN
		AND NUM_MOVSTK = @NUM_MOVSTK
END


SELECT NUM_SECUENCIA
	,A.COD_ITEM AS ITEM
	,DES_ITEM AS NOMBRE
	,B.COD_UNIMED AS UN
	,A.CAN_MOVIMIENTO AS CANTIDAD
	,LoteProv = DBO.LG_Devuelve_LOTE_ITEM_Cod_OrdProv(A.Cod_Item, A.LOTE)  , Lote 
	,A.COD_TIPORDPRO + '-' + A.COD_ORDPRO AS OT
	,PRE_UNITARIO_VENTA
FROM #DATOS A
	,LG_ITEM B
WHERE /*COD_ALMACEN + NUM_MOVSTK = @COD_ALMACEN + @NUM_MOVSTK
AND    */
	A.COD_ITEM = B.COD_ITEM

