USE [HIALPESA]
GO
/****** Object:  StoredProcedure [dbo].[TI_QYC_MOVIMIENTOS_CABECERA_MUESTRA]    Script Date: 26/06/2026 10:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
/*EXEC TI_QYC_MOVIMIENTOS_CABECERA_MUESTRA '1', '50', '', '05/05/2008', ''*/  
ALTER PROCEDURE [dbo].[TI_QYC_MOVIMIENTOS_CABECERA_MUESTRA]   
@OPCION AS CHAR(1)  
,@COD_ALMACEN AS COD_ALMACEN  
,@NUM_MOVSTK AS NUM_MOVSTK  
,@FEC_MOVSTK AS DATETIME  
,@NUM_GUIA AS CHAR(15)  
,@COD_ORDTRA AS COD_ORDTRA = ''   
AS /* OPCION 1, FECHA, 2 MOVIMIENTO, 3 GUIA */  
  
SET NOCOUNT ON  
SET ANSI_NULLS ON  
SET QUOTED_IDENTIFIER ON  
  
SELECT TOP 0 *  
INTO #MOVISTK  
FROM LG_MOVISTK  
WHERE COD_ALMACEN = ''  
  
DELETE #MOVISTK  
  
IF @OPCION = '1'  
BEGIN  
 INSERT #MOVISTK  
 SELECT *  
 FROM LG_MOVISTK  
 WHERE COD_ALMACEN = @COD_ALMACEN  
  AND FEC_MOVSTK = @FEC_MOVSTK  
END  
  
IF @OPCION = '2'  
BEGIN  
 INSERT #MOVISTK  
 SELECT *  
 FROM LG_MOVISTK  
 WHERE COD_ALMACEN = @COD_ALMACEN  
  AND NUM_MOVSTK = @NUM_MOVSTK  
END  
  
IF @OPCION = '3'  
BEGIN  
 INSERT #MOVISTK  
 SELECT *  
 FROM LG_MOVISTK  
 WHERE COD_ALMACEN = @COD_ALMACEN  
  AND NUM_GUIA LIKE '%' + @NUM_GUIA + '%'  
END  
  
IF @OPCION = '4'  
BEGIN  
 INSERT #MOVISTK  
 SELECT *  
 FROM LG_MOVISTK  
 WHERE COD_ALMACEN = @COD_ALMACEN  
  AND COD_ORDTRA LIKE '%' + @COD_ORDTRA + '%'  
END  
  
--SELECT * FROM #MOVISTK  
/*SELECT A.COD_ALMACEN  
 ,A.NUM_MOVSTK  
 ,A.FEC_MOVSTK  
 ,A.NUM_GUIA  
 ,A.SER_ORDCOMP + A.COD_ORDCOMP AS ORDEN_COMPRA  
 ,A.COD_PROVEEDOR  
 ,ISNULL(DES_PROVEEDOR, '') AS PROVEEDOR  
 ,A.COD_CLIENTE  
 ,ISNULL(E.ABR_CLIENTE, '') AS ABR_CLIENTE  
 ,A.COD_TIPMOV AS TIP_MOV  
 ,DES_TIPMOV AS NOMBRE_MOV  
 ,A.COD_ORDTRA  
 ,A.COD_CENCOST  
 ,ISNULL(DES_CENCOST, '') AS CENTRO_COSTO  
 ,A.FEC_CREACION  
 ,A.SER_ORDCOMP  
 ,A.COD_ORDCOMP  
 ,A.OBSERVACIONES  
 ,A.NUM_REQUERIMIENTO  
 ,A.NUM_OT_PIGMENTO  
 ,ISNULL(A.SER_DOCUM, '') AS SER_DOCUM  
 ,ISNULL(A.NUM_DOCUM, '') AS NUM_DOCUM  
 ,ISNULL(A.SER_DOCUM, '') + ' - ' + ISNULL(A.NUM_DOCUM, '') AS FACTURA  
 ,ISNULL(A.USUARIO_VALORIZO, '') AS USUARIO_VALORIZO  
 ,SER_PARTE_SALIDA  
 ,NUMERO_PARTE_SALIDA  
 ,RUC_TRANSPORTISTA  
 ,NUM_PLACA  
 ,COD_LICENCIA_TRANSP  
FROM #MOVISTK A  
 ,LG_TIPOSMOV B  
 ,LG_PROVEEDOR C  
 ,TX_CENCOSTO D  
 ,TX_CLIENTE E  
--LG_MOVISTKITEM F  
WHERE A.COD_TIPMOV = B.COD_TIPMOV  
 AND A.COD_PROVEEDOR *= C.COD_PROVEEDOR  
 AND A.COD_CENCOST *= D.COD_CENCOST  
 AND A.COD_CLIENTE *= E.COD_CLIENTE_TEX  
--AND A.COD_ALMACEN=F.COD_ALMACEN  
--AND A.NUM_MOVSTK=F.NUM_MOVSTK  
ORDER BY A.FEC_MOVSTK  
 ,A.NUM_MOVSTK  
 */  
SELECT A.COD_ALMACEN  
 ,A.NUM_MOVSTK  
 ,A.FEC_MOVSTK  
 ,A.NUM_GUIA  
 ,A.SER_ORDCOMP + A.COD_ORDCOMP AS ORDEN_COMPRA  
 ,A.COD_PROVEEDOR  
 ,ISNULL(C.DES_PROVEEDOR, '') AS PROVEEDOR  
 ,A.COD_CLIENTE  
 ,ISNULL(E.ABR_CLIENTE, '') AS ABR_CLIENTE  
 ,A.COD_TIPMOV AS TIP_MOV  
 ,B.DES_TIPMOV AS NOMBRE_MOV  
 ,A.COD_ORDTRA  
 ,A.COD_CENCOST  
 ,ISNULL(D.DES_CENCOST, '') AS CENTRO_COSTO  
 ,A.FEC_CREACION  
 ,A.SER_ORDCOMP  
 ,A.COD_ORDCOMP  
 ,A.OBSERVACIONES  
 ,A.NUM_REQUERIMIENTO  
 ,A.NUM_OT_PIGMENTO  
 ,ISNULL(A.SER_DOCUM, '') AS SER_DOCUM  
 ,ISNULL(A.NUM_DOCUM, '') AS NUM_DOCUM  
 ,ISNULL(A.SER_DOCUM, '') + ' - ' + ISNULL(A.NUM_DOCUM, '') AS FACTURA  
 ,ISNULL(A.USUARIO_VALORIZO, '') AS USUARIO_VALORIZO  
 ,A.SER_PARTE_SALIDA  
 ,A.NUMERO_PARTE_SALIDA  
 ,A.RUC_TRANSPORTISTA  
 ,A.NUM_PLACA  
 ,A.COD_LICENCIA_TRANSP  
 ,A.NRO_CONOS_HILOS_COSER  
 ,LTRIM(RTRIM(A.Cod_Usuario)) as 'USUARIO'
FROM #MOVISTK AS A  
INNER JOIN LG_TIPOSMOV AS B ON A.COD_TIPMOV = B.COD_TIPMOV  
LEFT OUTER JOIN LG_PROVEEDOR AS C ON A.COD_PROVEEDOR = C.COD_PROVEEDOR  
LEFT OUTER JOIN TX_CENCOSTO AS D ON A.COD_CENCOST = D.COD_CENCOST  
LEFT OUTER JOIN TX_CLIENTE AS E ON A.COD_CLIENTE = E.COD_CLIENTE_TEX  
ORDER BY A.FEC_MOVSTK  
 ,A.NUM_MOVSTK  
  