USE [HIALPESA]
GO
/****** Object:  StoredProcedure [dbo].[Ti_sm_muestra_Voucher]    Script Date: 6/05/2026 15:49:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
exec Ti_sm_muestra_Voucher '258494','S'
*/
ALTER PROCEDURE [dbo].[Ti_sm_muestra_Voucher] @num_requerimiento AS INT
	,@Orden AS CHAR(1) = ''
AS
SET NOCOUNT ON
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON

DECLARE @Flg_Tintoreria_Hilados AS CHAR(1)
DECLARE @Cod_Motivo_Requer AS CHAR(3)

SELECT @Cod_Motivo_Requer = Cod_Motivo_Requer
FROM Ti_Ordtra_Tintoreria_Req_Adic
WHERE num_requerimiento = @num_requerimiento

SELECT @Flg_Tintoreria_Hilados = Flg_Tintoreria_Hilados
FROM Ti_Motivo_Req
WHERE Cod_Motivo_Requer = @Cod_Motivo_Requer

SELECT TOP 0 a.Num_Requerimiento
	,a.Fec_Creacion
	,a.Cod_Ordtra
	,a.Cod_Motivo_Requer
	,a.Observaciones
	,a.COD_ORDPRO
	,B.Cod_Cliente_Tex
	,a.COD_ORDPRO_TEX
	,B.Kgs_Crudo
	,B.Cod_Color
	,a.Cod_Maquina_Tinto
INTO #Cabecera
FROM Ti_Ordtra_Tintoreria_Req_Adic a
	,Ti_ordtra_Tintoreria b
WHERE num_requerimiento = @num_requerimiento

IF @Flg_Tintoreria_Hilados = 'S'
BEGIN
	INSERT #Cabecera
	SELECT a.Num_Requerimiento
		,a.Fec_Creacion
		,a.Cod_Ordtra
		,a.Cod_Motivo_Requer
		,a.Observaciones
		,a.COD_ORDPRO
		,B.Cod_Cliente_Tex
		,a.COD_ORDPRO_TEX
		,B.Kgs_Crudo
		,B.Cod_Color
		,a.Cod_Maquina_Tinto
	FROM Ti_Ordtra_Tintoreria_Req_Adic a
	LEFT OUTER JOIN TH_ordtra_Tintoreria b ON A.cod_Ordtra = B.cod_Ordtra
	WHERE num_requerimiento = @num_requerimiento
		
END

IF @Flg_Tintoreria_Hilados = 'N'
BEGIN
	INSERT #Cabecera
	SELECT a.Num_Requerimiento
		,a.Fec_Creacion
		,a.Cod_Ordtra
		,a.Cod_Motivo_Requer
		,a.Observaciones
		,a.COD_ORDPRO
		,B.Cod_Cliente_Tex
		,a.COD_ORDPRO_TEX
		,B.Kgs_Crudo
		,B.Cod_Color
		,a.Cod_Maquina_Tinto
		
	FROM Ti_Ordtra_Tintoreria_Req_Adic a
	LEFT OUTER JOIN TI_ordtra_Tintoreria b ON A.cod_Ordtra = B.cod_Ordtra
	WHERE num_requerimiento = @num_requerimiento
		
END

SELECT A.Num_Requerimiento
	,a.Fec_Creacion
	,a.Cod_Ordtra
	,a.Cod_Motivo_Requer
	,a.Observaciones
	,a.COD_ORDPRO
	,isnull(a.Cod_Cliente_Tex, '') AS Cod_Cliente_Tex
	,a.COD_ORDPRO_TEX
	,a.Kgs_Crudo
	,a.Cod_Color + '-' + b.Des_Color AS Color
	,c.Nom_Cliente
	,a.Cod_Maquina_Tinto
--	,LoteProv =''
INTO #Resultado
FROM #Cabecera a
LEFT OUTER JOIN lb_color b ON A.Cod_Color = B.Cod_Color
LEFT OUTER JOIN Tx_Cliente C ON A.Cod_Cliente_Tex = C.Cod_Cliente_Tex

	

SELECT A.*
	,B.Cod_Item
	,B.Cons_Requerido
	,C.Des_Item AS Descripcion
	,D.Descripcion AS Motivo
	,isnull(E.Des_Maquina_Tinto, '') AS Des_Maquina_Tinto
	,CASE WHEN b.cod_ordtra in ('', '0' ) THEN A.Cod_Ordtra ELSE b.cod_ordtra END AS Partida
     ,LoteProv= DBO.LG_Devuelve_LOTE_ITEM_Cod_OrdProv(B.Cod_Item, B.LOTE)  
	 ,b.Lote
INTO #Final
FROM #Resultado a
INNER JOIN Ti_Ordtra_Tintoreria_Req_Adic_Items b ON  a.Num_Requerimiento = B.Num_Requerimiento
INNER JOIN lg_Item c							ON 	 b.Cod_Item = C.Cod_Item
INNER JOIN Ti_Motivo_Req D						ON 	 A.Cod_Motivo_Requer = D.Cod_Motivo_Requer
LEFT OUTER JOIN Ti_maquinas_Tinto E				ON 	 A.Cod_Maquina_Tinto = e.Cod_Maquina_Tinto

IF @Orden = 'S'
BEGIN
	SELECT *
	FROM #Final
END

IF @Orden = 'N'
	OR @Orden = ''
BEGIN
	SELECT *
	FROM #Final
	ORDER BY cod_item
END
