USE [HIALPESA]
GO
/****** Object:  StoredProcedure [dbo].[ti_sm_muestra_req_adicionales_tinto]    Script Date: 4/05/2026 17:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	exec ti_sm_muestra_req_adicionales_tinto '2','26/08/2008','','',''
	exec ti_sm_muestra_req_adicionales_tinto '2','29/03/2023','','',''
	
*/
ALTER PROCEDURE [dbo].[ti_sm_muestra_req_adicionales_tinto] 
     @opcion AS CHAR(1)
	,@fecha AS DATETIME
	,@fecha2 AS DATETIME
	,@cod_ordtra AS cod_ordtra
	,@cod_maquina_tinto AS CHAR(10)
	,@Num_Requerimiento AS INT AS

SET NOCOUNT ON
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON

SELECT *
INTO #items
FROM Ti_Ordtra_Tintoreria_Req_Adic
WHERE num_requerimiento = 0

DELETE #items

IF @opcion = '1'
BEGIN
	INSERT #items
	SELECT *
	FROM Ti_Ordtra_Tintoreria_Req_Adic
	WHERE cod_ordtra = @cod_ordtra
END

IF @opcion = '2'
BEGIN
	INSERT #items
	SELECT *
	FROM Ti_Ordtra_Tintoreria_Req_Adic
	WHERE fec_creacion between   @fecha and @fecha2
END

IF @opcion = '3'
BEGIN
	INSERT #items
	SELECT *
	FROM Ti_Ordtra_Tintoreria_Req_Adic
	WHERE Cod_Maquina_Tinto = @cod_maquina_tinto
END

IF @opcion = '4'
BEGIN
	INSERT #items
	SELECT *
	FROM Ti_Ordtra_Tintoreria_Req_Adic
	WHERE Num_Requerimiento = @Num_Requerimiento
END

IF getdate() >= '28/09/2018'
	DELETE #items
	WHERE TIPO = 'A'

--Fec_impresion_voucher
/*SELECT a.Num_Requerimiento
	,a.Fec_Creacion
	,a.Fec_impresion_voucher
	,A.COD_MOTIVO_REQUER AS Motivo
	,isnull(c.descripcion, '') AS Descripcion
	,isnull(Secu, 0) AS Secu
	,isnull(b.cod_item, '') AS Cod_Item
	,isnull(b.cons_requerido, 0) AS Consumo_Requerido
	,isnull(b.cons_atendido, 0) AS Consumo_Atendido
	,a.flg_status AS STATUS
	,a.Observaciones
	,a.Cod_Ordtra
	,Cod_Maquina_Tinto
	,a.Cod_Cliente
	,a.cod_ordpro
INTO #detalle
FROM #items a
	,ti_Ordtra_Tintoreria_Req_Adic_Items b
	,Ti_Motivo_Req c
WHERE a.num_requerimiento *= b.num_requerimiento
	AND a.cod_motivo_requer *= c.cod_motivo_requer
	*/

SELECT a.Num_Requerimiento
	,a.Fec_creacion
	,a.Fec_impresion_voucher
	,a.Cod_Motivo_Requer AS Motivo
	,ISNULL(c.Descripcion, '') AS Descripcion
	,ISNULL(b.Secu, 0) AS Secu
	,ISNULL(b.Cod_Item, '') AS Cod_Item
	,ISNULL(b.Cons_Requerido, 0) AS Consumo_Requerido
	,ISNULL(b.Cons_Atendido, 0) AS Consumo_Atendido
	,a.Flg_Status AS STATUS
	,a.Observaciones
	,a.Cod_Ordtra
	,a.Cod_Maquina_Tinto
	,a.Cod_Cliente
	,a.cod_ordpro
	,LoteProv = DBO.LG_Devuelve_LOTE_ITEM_Cod_OrdProv(B.Cod_Item, B.LOTE)  
	,Lote
	,A.Cod_Usuario as Usuario
INTO #detalle
FROM #items AS a
LEFT OUTER JOIN Ti_Ordtra_Tintoreria_Req_Adic_Items AS b ON a.Num_Requerimiento = b.Num_Requerimiento
LEFT OUTER JOIN Ti_Motivo_Req AS c ON a.Cod_Motivo_Requer = c.Cod_Motivo_Requer



/*SELECT a.Num_Requerimiento
	,Fec_Creacion = convert(VARCHAR, a.Fec_Creacion, 103)
	,Ultima_Impresion = convert(VARCHAR, a.Fec_impresion_voucher, 103)
	,Motivo
	,a.Cod_Ordtra AS Partida
	,Descripcion
	,Secu
	,a.Cod_Item
	,ISNULL(DES_ITEM, '') AS Nombre
	,isnull(cod_unimed, '') AS UN
	,Consumo_Requerido
	,Consumo_Atendido
	,STATUS
	,a.Cod_Maquina_Tinto
	,C.Des_Maquina_Tinto
	,A.Observaciones
	,A.Cod_Cliente
	,a.cod_ordpro
FROM #detalle a
	,lg_item b
	,ti_maquinas_tinto C
WHERE a.cod_item *= b.cod_item
	AND a.Cod_Maquina_Tinto *= c.Cod_Maquina_Tinto
ORDER BY a.Num_Requerimiento
*/
SELECT a.Num_Requerimiento
	,CONVERT(VARCHAR, a.Fec_Creacion, 103) AS Fec_Creacion
	,CONVERT(VARCHAR, a.Fec_impresion_voucher, 103) AS Ultima_Impresion
	,a.Motivo
	,a.Cod_Ordtra AS Partida
	,a.Descripcion
	,a.Secu
	,a.Cod_Item
	,ISNULL(b.Des_Item, '') AS Nombre
	,ISNULL(b.Cod_UniMed, '') AS UN
	,a.Consumo_Requerido
	,a.Consumo_Atendido
	,a.STATUS
	,a.Cod_Maquina_Tinto
	,C.Des_Maquina_Tinto
	,a.Observaciones
	,a.Cod_Cliente
	,a.cod_ordpro
	,LoteProv 
	,Lote
	,A.Usuario
FROM #DETALLE AS a
LEFT OUTER JOIN Lg_Item AS b ON a.Cod_Item = b.Cod_Item
LEFT OUTER JOIN ti_maquinas_tinto AS C ON a.Cod_Maquina_Tinto = C.Cod_Maquina_Tinto
ORDER BY a.Num_Requerimiento
