USE [HIALPESA]
GO
/****** Object:  StoredProcedure [dbo].[ti_up_man_Ti_Ordtra_Tintoreria_Req_Adic_Items]    Script Date: 5/05/2026 08:29:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
/*  
EXEC ti_up_man_Ti_Ordtra_Tintoreria_Req_Adic_Items 'I','571997','0','QP000001','0.5','',0   
*/  
--EXEC ti_up_man_Ti_Ordtra_Tintoreria_Req_Adic 'I','0','06651','42 ','','CARBONATO DE SODIO','catoche','PC010113','','',''  
--EXEC ti_up_man_Ti_Ordtra_Tintoreria_Req_Adic_Items 'I','523229','0','RC000862','1','',2   
  
ALTER procedure [dbo].[ti_up_man_Ti_Ordtra_Tintoreria_Req_Adic_Items]  
@accion as char(1),  
@num_requerimiento as int,  
@secu as int,  
@cod_item as cod_item,  
@cons_requerido as numeric(15,4)=0,  
@COD_ORDTRA AS COD_ORDTRA='',  
@Lote as int = 0  
as  
  
set nocount on  
set xact_abort on  
declare @msg as char(100),@flg_status as char(1),@cod_ordtra_cabecera as cod_ordtra,  
@Flg_Tratamiento_efluentes CHAR(1),  
@Flg_Tintoreria CHAR(1),  
@Flg_Tintoreria_Hilados CHAR(1) ,  
@cod_motivo_requer as char(3)  
  
DECLARE @flg_trabaja_por_lotes CHAR(1)  
  
SET @flg_trabaja_por_lotes = (SELECT TOP 1 B.flg_trabaja_por_lotes   
FROM LG_ITEM a, LG_FAMITE b   
WHERE a.Cod_FamItem = b.Cod_FamItem   
AND a.Cod_Item  = @cod_item )  

select @msg=''  
if @accion not in ('I','U','D')   
begin  
 SET @Msg = 'Accion no Valida.'  
 RAISERROR(@MSG, 16, 1)  
 RETURN -1  
end  
  
select @cod_item = cod_item ,  @cod_ordtra = cod_ordtra
from Ti_Ordtra_Tintoreria_Req_Adic_Items  
where num_requerimiento = @num_requerimiento and secu = @secu  
  
  
if not exists (select * from Ti_Ordtra_Tintoreria_Req_Adic  
where num_requerimiento = @num_requerimiento)  
begin  
 SET @Msg = 'Numero de Requerimiento no existe...'  
 RAISERROR(@MSG, 16, 1)  
 RETURN -1  
end  
  
select @flg_status = flg_status, @cod_ordtra_cabecera = cod_ordtra,  
@cod_motivo_requer = cod_motivo_requer  
from Ti_Ordtra_Tintoreria_Req_Adic  
where num_requerimiento = @num_requerimiento  
  
SELECT @Flg_Tratamiento_efluentes = Flg_Tratamiento_efluentes,  
       @Flg_Tintoreria =  Flg_Tintoreria,  
    @Flg_Tintoreria_Hilados = Flg_Tintoreria_Hilados  
FROM   Ti_Motivo_Req   
WHERE  Cod_Motivo_Requer = @cod_motivo_requer  
  
if @cod_ordtra = '' and dbo.ti_valida_ing_masivo_tiporeq (@cod_motivo_requer)='S'  
 begin  
  if isnull(@cod_ordtra_cabecera,'') = ''  
   begin  
    SET @Msg = 'Cabecera del requerimiento no tiene partida'  
    RAISERROR(@MSG, 16, 1)  
    RETURN -1  
   end  
  else  
   begin  
    select @cod_ordtra = @cod_ordtra_cabecera  
   end  
 end  
  
if @flg_status<>'P'  
BEGIN  
 SET @Msg = 'Status del requerimiento no permite accion'  
 RAISERROR(@MSG, 16, 1)  
 RETURN -1  
end  
  
if @accion = 'I'  
BEGIN  
 IF NOT EXISTS (SELECT * FROM LG_ITEM WHERE COD_ITEM = @COD_ITEM)  
 BEGIN  
  SET @Msg = 'Item no existe ....'  
  RAISERROR(@MSG, 16, 1)  
  RETURN -1  
 END  
  
 DECLARE @FLG_QYC AS CHAR(1),@COD_FAMITEM AS CHAR(2)  
 SELECT @COD_FAMITEM = COD_FAMITEM FROM LG_ITEM WHERE COD_ITEM = @COD_ITEM  
 SELECT @FLG_QYC = FLG_QYC FROM LG_FAMITE WHERE COD_FAMITEM = @COD_FAMITEM  
 IF @FLG_QYC<>'S'  
 BEGIN  
  SET @Msg = 'Familia de item no permitido...'  
  RAISERROR(@MSG, 16, 1)  
  RETURN -1  
 END  
    
 IF @Flg_Tratamiento_efluentes = 'S'  
    BEGIN  
   if not exists (select * from lg_stocksitem where cod_almacen ='57' and cod_item = @cod_item AND  Can_Stock >= @cons_requerido  )  
      begin  
     SET @Msg = 'NO EXISTE STOCK PARA DEL ITEM SELECCIONADO.VALIDAR..1'  
     RAISERROR(@MSG, 16, 1)  
     RETURN -1  
      end  
    END  
 ELSE  
    BEGIN  
       IF @flg_trabaja_por_lotes = 'S'  
          BEGIN  
    if @Lote = 0   
     BEGIN  
        ROLLBACK TRANSACTION   
        RAISERROR('LOTE OBLIGATORIO. REVISAR',16,1)  
        RETURN   
     END   
       select cod_item , lote, sum(can_stock) as can_stock  
       into #stock_lotes1  
       from lg_stocksitem_LOTE   
       where cod_almacen in ('50' ) and cod_item = @cod_item AND Lote= @Lote    
       group by cod_item , lote  
  
    if not exists (select * from #stock_lotes1   
       where   Can_Stock >= @cons_requerido  )  
       begin  
      SET @Msg = 'NO EXISTE STOCK PARA DEL ITEM SELECCIONADO.VALIDAR..2 SOLO ALMACEN 50 '  
      RAISERROR(@MSG, 16, 1)  
      RETURN -1  
       end           
          END  
       ELSE  
          BEGIN  
       select cod_item ,  sum(can_stock) as can_stock  
       into #stock1  
       from lg_stocksitem   
       where cod_almacen in ('50','60') and cod_item = @cod_item     
       group by cod_item   
  
     if not exists (select * from #stock1 where  Can_Stock >= @cons_requerido  )  
        begin  
       -- print @cons_requerido
       SET @Msg = 'NO EXISTE STOCK PARA DEL ITEM SELECCIONADO.VALIDAR..3  SOLO ALMACEN 50 '  
       RAISERROR(@MSG, 16, 1)  
       RETURN -1  
        end  
       END  
  END  
END  
  
if @accion = 'U'  
   BEGIN  
      IF @flg_trabaja_por_lotes = 'S'  
         BEGIN  
   if @Lote = 0   
    BEGIN  
       ROLLBACK TRANSACTION   
       RAISERROR('LOTE OBLIGATORIO. REVISAR',16,1)  
       RETURN   
    END   
           
      select cod_item , lote, sum(can_stock) as can_stock  
   into #stock_lotes2  
   from lg_stocksitem_LOTE   
   where cod_almacen in ('50' ) and cod_item = @cod_item AND Lote= @Lote    
   group by cod_item , lote  
  
   if not exists (select * from #stock_lotes2   
      where  Can_Stock >= @cons_requerido  )  
      begin  
     SET @Msg = 'NO EXISTE STOCK PARA DEL ITEM SELECCIONADO.VALIDAR..4 SOLO ALMACEN 50 '  
     RAISERROR(@MSG, 16, 1)  
     RETURN -1  
      end            
         END  
      ELSE  
         BEGIN  
           select cod_item ,  sum(can_stock) as can_stock  
       into #stock2  
       from lg_stocksitem   
       where cod_almacen in ('50' ) and cod_item = @cod_item     
       group by cod_item   
  
  
    if not exists (select * from #stock2 where   Can_Stock >= @cons_requerido  )  
       begin  
      SET @Msg = 'NO EXISTE STOCK PARA DEL ITEM SELECCIONADO.VALIDAR..5 SOLO ALMACEN 50 '  
      RAISERROR(@MSG, 16, 1)  
      RETURN -1  
       end  
      END  
   END  
  
declare @lo_que_notengo_para_reservar50 numeric(15,6)  
declare @lo_que_notengo_para_reservar51 numeric(15,6)  
  
declare @stockActual numeric(15,6)                        
declare @ReservadoActual numeric(15,6)                       
DECLARE @C_RESERVADO NUMERIC(15,6),@C_RESERVADO_COSINA NUMERIC(15,6)  
DECLARE @C_ERROR INT =0  
DECLARE @C_ITEM AS COD_ITEM  
DECLARE @C_LOTE NUMERIC(10)  
DECLARE @C_REQUERIDO NUMERIC(15,6),@DIFEREN_50 NUMERIC(15,6),@DIFEREN_51 NUMERIC(15,6)  
  
set @C_ITEM = @cod_item  
set @C_LOTE = @Lote  
set @C_REQUERIDO =@cons_requerido   
  
  
  
if @accion in ('U','D')  
BEGIN  
  
 if not exists (select * from Ti_Ordtra_Tintoreria_Req_Adic_Items  
 where num_requerimiento = @num_requerimiento  AND secu=@secu )  
 begin  
  SET @Msg = 'Numero de Requerimiento-Sec no existe...'  
  RAISERROR(@MSG, 16, 1)  
  RETURN -1  
 end  
   
 IF @accion='D'  
 BEGIN  
  DECLARE @cons_atendido as numeric(15,3)  
  SELECT @CONS_atendido=CONS_atendido FROM  
  Ti_Ordtra_Tintoreria_Req_Adic_Items  
  where num_requerimiento = @num_requerimiento  AND secu=@secu   
  IF @cons_atendido>0  
  begin  
   SET @Msg = 'No puede ser eliminado...tiene salidas de almacen...'  
   RAISERROR(@MSG, 16, 1)  
   RETURN -1  
  end  
 END  
END  
  
  
begin transaction  
  
   if @accion = 'I'  
 Begin  
  if not exists (  
   select * from Ti_Ordtra_Tintoreria_Req_Adic_Items  
   where num_requerimiento = @num_requerimiento )  
   begin  
    select @secu=1  
   end  
  else  
   begin  
    select @secu = max(secu)  
    from Ti_Ordtra_Tintoreria_Req_Adic_Items  
    where num_requerimiento = @num_requerimiento  
    select @secu = @secu+1  
   end  
  
   if (  @Lote>0  )  
   begin  
      ------------------------------------------Lg_StocksItem_Lote ---------------------------------  
      --1.- Validando si en el 50 se puede ad  
          Select  @lo_que_notengo_para_reservar50 = (can_stock - (can_reservado + @C_REQUERIDO) ),  
          @stockActual = can_Stock , @ReservadoActual = can_reservado   
          FROM Lg_StocksItem_Lote  with (UPDLOCK, ROWLOCK)  
          WHERE  Cod_Almacen='50'  and   Cod_Item=@C_ITEM  and  lote =@C_LOTE   
      
      --2.- si no tiene registros se sale del while  
             IF ( @lo_que_notengo_para_reservar50 is null  OR @lo_que_notengo_para_reservar50 < 0.000000 )   
          BEGIN  
          SET @C_ERROR = @C_ERROR+1  
             
         --SELECT  @lo_que_notengo_para_reservar51 = (  can_stock  - (  can_reservado  + @C_REQUERIDO )) ,  
         --@stockActual =  can_Stock  , @ReservadoActual = can_reservado    
         --FROM Lg_StocksItem_Lote WITH  (UPDLOCK, ROWLOCK)  
         --WHERE  Cod_Almacen='51'  And   Cod_Item = @C_ITEM   and   lote = @C_LOTE   
  
         -- IF ( @lo_que_notengo_para_reservar51 IS NULL   OR    @lo_que_notengo_para_reservar51<0.000000)  
         -- BEGIN  
         --   SET @C_ERROR = @C_ERROR+1  
         -- END  
          END  
      --3.-   
        --IF ( @lo_que_notengo_para_reservar50 <  0.000000 )  
        --  BEGIN  
        --   SELECT  @lo_que_notengo_para_reservar51 = (can_stock - (can_reservado + (@lo_que_notengo_para_reservar50 *-1)    ) )  
        --   FROM Lg_StocksItem_Lote WITH  (UPDLOCK, ROWLOCK)  
        --   WHERE  Cod_Almacen='51' and  Cod_Item=@C_ITEM   and   lote=@C_LOTE   
  
        --  IF (@lo_que_notengo_para_reservar51 is null  OR   @lo_que_notengo_para_reservar51 < 0.000000 )   
        --   BEGIN  
        --    SET @C_ERROR=@C_ERROR+1  
                          
        --  END   
        -- END  
             --FETCH  c_datos  INTO   @C_ITEM,@C_LOTE,@C_REQUERIDO  
       --Si todo esta bien   
       IF ( @C_ERROR>0)  
       BEGIN  
        --MENSAJE DE ERROR   
        RAISERROR('Cantidad Sobrepasa El Stock  ALMACEN 50  ', 16, 1)  
        ROLLBACK TRANSACTION               
        RETURN  -1  
       END  
       ELSE  
       BEGIN  
       
        update   TI_ORDTRA_TINTORERIA   set  flg_genera_Qyc='S' , fec_genera_Qyc=GETDATE()   where cod_ordtra= @COD_ORDTRA  
                          
          Select @lo_que_notengo_para_reservar50 = ( can_stock - ( can_reservado + @C_REQUERIDO )) ,  
            @stockActual = can_Stock , @ReservadoActual = can_reservado   
          FROM Lg_StocksItem_Lote WITH  (UPDLOCK, ROWLOCK)   
          WHERE  Cod_Almacen='50'  And   Cod_Item = @C_ITEM   and   lote = @C_LOTE   
  
          Set @stockActual =isnull(@stockActual,0)  
          Set @ReservadoActual = isnull(@ReservadoActual,0)  
  
          --IF ( @lo_que_notengo_para_reservar50 >=0.000000 )   -- si Tengo stocky RQ    todo al 50  
          --BEGIN  
             UPDATE Lg_StocksItem_Lote   SET    Can_Reservado = Can_Reservado +  @C_REQUERIDO WHERE Cod_Almacen='50'  and   Cod_Item=@C_ITEM   and   lote =@C_LOTE   
              
              Insert Ti_Ordtra_Tintoreria_Req_Adic_Items   
              (num_requerimiento,secu,cod_item,cons_requerido,cod_ordtra,Lote,cons_reservado)  
              values (@num_requerimiento,@secu,@cod_item,@cons_requerido,@cod_ordtra,@Lote,@cons_requerido)  
          --END  
          --ELSE  
          --BEGIN  
  
          -- SET @DIFEREN_50 =  CASE WHEN (@C_REQUERIDO >=( @stockActual - @ReservadoActual )) THEN  ( @stockActual - @ReservadoActual ) ELSE @C_REQUERIDO END  
          -- SET @DIFEREN_51 =  CASE WHEN  @DIFEREN_50 =0  THEN  @C_REQUERIDO  ELSE   @C_REQUERIDO - @DIFEREN_50  END  
   
          --  --Actualziacion   
          -- IF (@DIFEREN_50> 0.000000)  
          --  UPDATE Lg_StocksItem_Lote  SET  Can_Reservado = Can_Reservado + @DIFEREN_50  WHERE Cod_Almacen='50'  and   Cod_Item=@C_ITEM   and   lote =@C_LOTE   
  
          -- IF (@DIFEREN_51> 0.000000)  
          --  UPDATE Lg_StocksItem_Lote  SET  Can_Reservado = Can_Reservado + @DIFEREN_51  WHERE Cod_Almacen='51'  and   Cod_Item=@C_ITEM   and   lote =@C_LOTE   
  
          --    Insert Ti_Ordtra_Tintoreria_Req_Adic_Items  
          --    (num_requerimiento,secu,cod_item,cons_requerido,cod_ordtra,Lote,cons_reservado,Cons_Reservado_Cocina)  
          --    values (@num_requerimiento,@secu,@cod_item,@cons_requerido,@cod_ordtra,@Lote,@DIFEREN_50,@DIFEREN_51)            
          --  END  
       END   
    END    
   ELSE  
   BEGIN  
      Insert Ti_Ordtra_Tintoreria_Req_Adic_Items  
     (num_requerimiento,secu,cod_item,cons_requerido,cod_ordtra,Lote,cons_reservado,Cons_Reservado_Cocina)  
        values (@num_requerimiento,@secu,@cod_item,@cons_requerido,@cod_ordtra,@Lote,@cons_requerido,0)  
  
      END   
  ---------------------------------------------------------------------------------  
  END  
    
   
  
 IF @accion='U'  
      BEGIN  
   -- SE ELIMINA Y SE VUELVE A INSERTAR - ASI ESTABA DESDE EL INICIO  
      delete Ti_Ordtra_Tintoreria_Req_Adic_Items where num_requerimiento = @num_requerimiento  AND secu=@secu  
  
   IF @Lote>0  
   BEGIN   
        SELECT   @C_RESERVADO=Cons_Reservado ,@C_RESERVADO_COSINA=Cons_Reservado_Cocina   
     FROM   Ti_Ordtra_Tintoreria_Req_Adic_Items   WHERE  Num_Requerimiento = @num_requerimiento AND secu=@secu   
     
      -- DESCUENTO   
      if (@C_RESERVADO>0.000000)  
       UPDATE Lg_StocksItem_Lote  SET Can_Reservado = Can_Reservado - @C_RESERVADO           WHERE Cod_Almacen='50'  and   Cod_Item=@C_ITEM   and   lote =@C_LOTE  
  
      --if (@C_RESERVADO_COSINA>0.000000)  
      -- UPDATE Lg_StocksItem_Lote  SET Can_Reservado= Can_Reservado-@C_RESERVADO_COSINA       WHERE Cod_Almacen='51'  and   Cod_Item=@C_ITEM   and   lote =@C_LOTE  
  
      -- AGREGO   
  
       select @lo_que_notengo_para_reservar50 = (can_stock - (can_reservado + @C_REQUERIDO) )  ,    
                             @stockActual  = can_Stock , @ReservadoActual = can_reservado        
                     from Lg_StocksItem_Lote with (UPDLOCK,ROWLOCK)  
                           WHERE Cod_Almacen='50'  and   Cod_Item=@C_ITEM  and  lote =@C_LOTE   
  
         
        --1.- Validando si en el 50 se puede adicionar  
         --UPDATE Lg_StocksItem_Lote  with (Tablock)  
         --SET   Can_Reservado = Can_Reservado , @lo_que_notengo_para_reservar50 = (can_stock - (can_reservado + @C_REQUERIDO) ),  
         --    @stockActual = can_Stock , @ReservadoActual = can_reservado      
         --WHERE Cod_Almacen='50'  and   Cod_Item=@C_ITEM  and  lote =@C_LOTE  
  
       --2.- si no tiene registros se sale del while  
         --IF (@lo_que_notengo_para_reservar50 is null )   
         -- SET @C_ERROR = @C_ERROR+1  
        
       --3.-   
        IF (   @lo_que_notengo_para_reservar50 IS NULL  OR   @lo_que_notengo_para_reservar50 <  0.000000 )  
         BEGIN  
          --UPDATE Lg_StocksItem_Lote  with  (Tablock)    
          --SET    Can_Reservado = Can_Reservado , @lo_que_notengo_para_reservar51 = (can_stock - (can_reservado + (@lo_que_notengo_para_reservar50 *-1)    ) )  
          --WHERE  Cod_Almacen='51' and  Cod_Item=@C_ITEM   and   lote=@C_LOTE   
  
          --IF (@lo_que_notengo_para_reservar51 is null  OR   @lo_que_notengo_para_reservar51 < 0.00 )   
             
           SET @C_ERROR=@C_ERROR+1  
              
          END  
   
        --Si todo esta bien   
        IF ( @C_ERROR>0)  
        BEGIN  
         --MENSAJE DE ERROR       
         RAISERROR('Cantidad Sobrepasa El Stock ', 16, 1)  
         ROLLBACK TRANSACTION               
         RETURN  -1  
        END  
        ELSE  
        BEGIN  
           UPDATE TI_ORDTRA_TINTORERIA   set  flg_genera_Qyc='S' , fec_genera_Qyc=GETDATE()   where cod_ordtra= @COD_ORDTRA  
             
          SELECT  @lo_que_notengo_para_reservar50 = (  can_stock  - (  can_reservado  + @C_REQUERIDO )) ,    
            @stockActual =  can_Stock  , @ReservadoActual = can_reservado      
            FROM Lg_StocksItem_Lote WITH (UPDLOCK,ROWLOCK )  
           WHERE  Cod_Almacen='50'  And   Cod_Item = @C_ITEM   and   lote = @C_LOTE     
  
           --UPDATE Lg_StocksItem_Lote with (Tablock)  
           --SET    Can_Reservado = Can_Reservado , @lo_que_notengo_para_reservar50 = ( can_stock - ( can_reservado + @C_REQUERIDO )) ,  
           --  @stockActual = can_Stock , @ReservadoActual = can_reservado   
           --WHERE  Cod_Almacen='50'  And   Cod_Item = @C_ITEM   and   lote = @C_LOTE   
         
           set @stockActual =isnull(@stockActual,0)  
           set @ReservadoActual = isnull(@ReservadoActual,0)  
  
           --IF ( @lo_que_notengo_para_reservar50 >=0.000000 )   -- si Tengo stocky RQ    todo al 50  
           --BEGIN  
              UPDATE Lg_StocksItem_Lote   SET    Can_Reservado = Can_Reservado +  @C_REQUERIDO WHERE Cod_Almacen='50'  and   Cod_Item=@C_ITEM   and   lote =@C_LOTE   
              --UPDATE Ti_Ordtra_Tintoreria_Req_Adic_Items  SET Cons_Reservado = Cons_Reservado+ @C_REQUERIDO  WHERE num_requerimiento = @num_requerimiento  AND secu=@secu  
               Insert Ti_Ordtra_Tintoreria_Req_Adic_Items  
               (num_requerimiento,secu,cod_item,cons_requerido,cod_ordtra,Lote,cons_reservado,Cons_Reservado_Cocina)  
               values (@num_requerimiento,@secu,@cod_item,@cons_requerido,@cod_ordtra,@Lote,@C_REQUERIDO,0)  
           --END  
           --ELSE  
           --BEGIN  
           -- SET @DIFEREN_50 =  CASE WHEN (@C_REQUERIDO >=( @stockActual - @ReservadoActual )) THEN  ( @stockActual - @ReservadoActual ) ELSE @C_REQUERIDO END  
           -- SET @DIFEREN_51 =  CASE WHEN  @DIFEREN_50 =0  THEN  @C_REQUERIDO  ELSE   @C_REQUERIDO - @DIFEREN_50  END  
   
           --  --Actualziacion   
           -- IF (@DIFEREN_50> 0.000000)  
           --  UPDATE Lg_StocksItem_Lote  SET  Can_Reservado = Can_Reservado + @DIFEREN_50  WHERE Cod_Almacen='50'  and   Cod_Item=@C_ITEM   and   lote =@C_LOTE   
             
  
           -- IF (@DIFEREN_51> 0.000000)  
           --  UPDATE Lg_StocksItem_Lote  SET  Can_Reservado = Can_Reservado + @DIFEREN_51  WHERE Cod_Almacen='51'  and   Cod_Item=@C_ITEM   and   lote =@C_LOTE   
           
               --Insert Ti_Ordtra_Tintoreria_Req_Adic_Items  
               --(num_requerimiento,secu,cod_item,cons_requerido,cod_ordtra,Lote,cons_reservado,Cons_Reservado_Cocina)  
               --values (@num_requerimiento,@secu,@cod_item,@cons_requerido,@cod_ordtra,@Lote,@DIFEREN_50,@DIFEREN_51)  
            --END  
        END    
   END   
   ELSE  
   BEGIN  
    Insert Ti_Ordtra_Tintoreria_Req_Adic_Items  
    (num_requerimiento,secu,cod_item,cons_requerido,cod_ordtra,Lote,cons_reservado,Cons_Reservado_Cocina)  
    values (@num_requerimiento,@secu,@cod_item,@cons_requerido,@cod_ordtra,@Lote,@cons_requerido,0)  
  
   END   
    END  
     
  
 IF  @accion='D'  
 BEGIN  
  ----------------------------Lg_StocksItem_Lote ---------------------------------  
   SELECT @C_RESERVADO=Cons_Reservado ,@C_RESERVADO_COSINA=Cons_Reservado_Cocina,@lote=lote ,@cod_item =Cod_Item   
   FROM   Ti_Ordtra_Tintoreria_Req_Adic_Items   
   WHERE  Num_Requerimiento = @num_requerimiento AND secu=@secu      
    
  SELECT * FROM   Ti_Ordtra_Tintoreria_Req_Adic_Items   
   WHERE  Num_Requerimiento = @num_requerimiento AND secu=@secu      
    
  
  if (@C_RESERVADO>0.000000)  
  UPDATE Lg_StocksItem_Lote  SET Can_Reservado = Can_Reservado - @C_RESERVADO           WHERE Cod_Almacen='50'  and   Cod_Item=@cod_item  and   lote =@lote  
  
  if (@C_RESERVADO_COSINA>0.000000)  
  UPDATE Lg_StocksItem_Lote  SET Can_Reservado= Can_Reservado-@C_RESERVADO_COSINA       WHERE Cod_Almacen='51'  and   Cod_Item=@cod_item  and   lote =@lote  
  
        ---------------------------------------------------------------------------------  
  DELETE  Ti_Ordtra_Tintoreria_Req_Adic_Items  WHERE num_requerimiento = @num_requerimiento  AND secu=@secu  
 END  
  
commit transaction  