USE [HIALPESA]
GO
/****** Object:  StoredProcedure [dbo].[ti_up_man_Ti_Ordtra_Tintoreria_Req_Adic]    Script Date: 5/05/2026 08:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** OBJETO:  PROCEDIMIENTO ALMACENADO DBO.TI_UP_MAN_TI_ORDTRA_TINTORERIA_REQ_ADIC    FECHA DE LA SECUENCIA DE COMANDOS: 25/08/2005 09:16:19 A.M. ******/
/*  
EXEC ti_up_man_Ti_Ordtra_Tintoreria_Req_Adic 'I','0','06651','42 ','','CARBONATO DE SODIO','catoche','PC010113','','',''

EXEC TI_UP_MAN_TI_ORDTRA_TINTORERIA_REQ_ADIC 'I','0','00119','20 ','','','SISTEMAS','OZEGARRA','',''  

EXEC ti_up_man_Ti_Ordtra_Tintoreria_Req_Adic 'I','0','444','02 ','','DDD','catoche','LP010124','','',''
EXEC ti_up_man_Ti_Ordtra_Tintoreria_Req_Adic 'I','0','w4851','09 ','','s','WROJAS','PC011488','','',''
*/
ALTER PROCEDURE [dbo].[ti_up_man_Ti_Ordtra_Tintoreria_Req_Adic] 
    @ACCION AS CHAR(1)
	,@NUM_REQUERIMIENTO AS INT
	,@COD_ORDTRA AS COD_ORDTRA
	,@COD_MOTIVO_REQUER AS CHAR(3)
	,@COD_MAQUINA_TINTO AS CHAR(10)
	,@OBSERVACIONES AS VARCHAR(100)
	,@COD_USUARIO AS COD_USUARIO
	,@PC AS CHAR(20)
	,@COD_ORDPRO AS CHAR(5) = ''
	,@COD_CLIENTE AS COD_CLIENTE = ''
	,@COD_ORDPRO_TEX AS CHAR(5) = '' AS

SET NOCOUNT ON
SET XACT_ABORT ON

DECLARE @MSG AS CHAR(100)
	,@FLG_STATUS AS CHAR(1)
DECLARE @TIPO CHAR(1)
DECLARE @TIPO_SOLICITUD CHAR(1)
declare @Flg_Reproceso char(1)
DECLARE @Flg_Proceso_Previo CHAR(1)
DECLARE @Flg_Tratamiento_efluentes CHAR(1)

SELECT @TIPO = 'M'

SELECT @MSG = ''

IF @COD_MOTIVO_REQUER='09'
BEGIN

      IF (@COD_ORDTRA='')
	  BEGIN 
	    SET @MSG = 'Partida es Requerida'
								RAISERROR (@MSG,16,1)
								RETURN - 1	
    END 

END 


IF @ACCION NOT IN (
		'I'
		,'U'
		,'D'
		)
BEGIN
	SET @MSG = 'ACCION NO VALIDA.'

	RAISERROR (
			@MSG
			,16
			,1
			)

	RETURN - 1
END

--'Q0989'
--SELECT * FROM TI_ORDTRA_TINTORERIA WHERE COD_ORDTRA = '34754' AND Flg_Status = 'D'


IF @ACCION = 'I'
	BEGIN
	--SELECT * FROM Ti_Motivo_Req WHERE Cod_Motivo_Requer = @COD_MOTIVO_REQUER  AND Flg_Tintoreria='S'
 
 	
	-- Validando que si es Tintoreria que exista la partida
	IF EXISTS(SELECT * FROM Ti_Motivo_Req WHERE Cod_Motivo_Requer = @COD_MOTIVO_REQUER )   
	      and @COD_MOTIVO_REQUER in( '09') 
	      BEGIN 	
			  IF not EXISTS(SELECT * FROM TI_ORDTRA_TINTORERIA WHERE COD_ORDTRA = @COD_ORDTRA)
			   BEGIN 
			   SET @MSG = 'No Existe la Partida de Telas....Verifique'
								RAISERROR (@MSG,16,1)
								RETURN - 1	
			  END 
			END 

	--	-- Validando que si es Hilos que exista la partida
	--IF EXISTS(SELECT * FROM Ti_Motivo_Req WHERE Cod_Motivo_Requer = @COD_MOTIVO_REQUER  AND Flg_Tintoreria_Hilados='S'   )
	--		BEGIN 	
	--		  IF not EXISTS(SELECT * FROM Th_ORDTRA_TINTORERIA WHERE COD_ORDTRA = @COD_ORDTRA) and COD_MOTIVO_REQUER='07'
	--		   BEGIN 
	--		   SET @MSG = 'No Existe la Partida de Hilos....Verifique'
	--			RAISERROR (@MSG,16,1)
	--			RETURN - 1	
	--		  END 
	--		END 

		IF EXISTS(SELECT * FROM Ti_Motivo_Req WHERE Cod_Motivo_Requer = @COD_MOTIVO_REQUER  AND    Flg_Tintoreria='S'   )
			BEGIN 				
			 
				IF EXISTS(SELECT * FROM TI_ORDTRA_TINTORERIA WHERE COD_ORDTRA = @COD_ORDTRA AND Flg_Status = 'D')
					BEGIN
					    print 'ET_Stock_Tela_Estampada'
						--select * from ET_Stock_Tela_Estampada where Cod_Almacen = '45' and cod_ordtra_tintoreria = 'Q4709'				
						IF not exists(select * from ET_Stock_Tela_Estampada where Cod_Almacen = '45' and cod_ordtra_tintoreria = @cod_ordtra )
							BEGIN
								SET @MSG = 'No se puede agregar. Se ha despachado la partida Telas.'
								RAISERROR (@MSG,16,1)
								RETURN - 1	
							END
							--SET @MSG = 'No se puede agregar. Se ha despachado la partida.'
							--RAISERROR (@MSG,16,1)
							--RETURN - 1		
					END												
			END 		


		IF EXISTS(SELECT * FROM Ti_Motivo_Req WHERE Cod_Motivo_Requer = @COD_MOTIVO_REQUER  AND Flg_Tintoreria_Hilados='S')
			BEGIN 
			  
				IF EXISTS(SELECT * FROM TH_ORDTRA_TINTORERIA WHERE COD_ORDTRA = @COD_ORDTRA AND Flg_Status = 'D')
					BEGIN
				     print 'Flg_Tintoreria_Hilados'
				       SET @MSG = 'No se puede agregar. Se ha sido despachado la partida Hilos.'
						RAISERROR (@MSG,16,1)
						RETURN - 1		
					END 
			END 
			
		IF EXISTS(SELECT * FROM Ti_Motivo_Req WHERE Cod_Motivo_Requer = @COD_MOTIVO_REQUER  AND Flg_Tratamiento_efluentes='S')
			BEGIN 
			 
				IF EXISTS(SELECT * FROM TG_ORDTRA WHERE COD_ORDTRA = @COD_ORDTRA AND Flg_Status = 'C')
					BEGIN
					   print 'TG_ORDTRA'
						SET @MSG = 'No se puede agregar. Se ha sido despachado la orden de trabajo .'
						RAISERROR (@MSG,16,1)
						RETURN - 1		
					END 
			END 
	END

 
IF @ACCION IN (
		'U'
		,'D'
		)
BEGIN
	IF NOT EXISTS (
			SELECT *
			FROM TI_ORDTRA_TINTORERIA_REQ_ADIC
			WHERE NUM_REQUERIMIENTO = @NUM_REQUERIMIENTO
			)
	BEGIN
		SET @MSG = 'NUMERO DE REQUERIMIENTO NO EXISTE...'

		RAISERROR (
				@MSG
				,16
				,1
				)

		RETURN - 1
	END

	SELECT @FLG_STATUS = FLG_STATUS
	FROM TI_ORDTRA_TINTORERIA_REQ_ADIC
	WHERE NUM_REQUERIMIENTO = @NUM_REQUERIMIENTO

	IF @FLG_STATUS <> 'P'
	BEGIN
		SET @MSG = 'STATUS DEL REQUERIMIENTO NO PERMITE ACCION'

		RAISERROR (
				@MSG
				,16
				,1
				)

		RETURN - 1
	END

	IF @ACCION = 'D'
	BEGIN
		IF EXISTS (
				SELECT *
				FROM TI_ORDTRA_TINTORERIA_REQ_ADIC_ITEMS
				WHERE NUM_REQUERIMIENTO = @NUM_REQUERIMIENTO
				)
		BEGIN
			SET @MSG = 'TIENE ITEMS REQGISTRADOS'

			RAISERROR (
					@MSG
					,16
					,1
					)

			RETURN - 1
		END
	END
END

IF @ACCION = 'I'
BEGIN
	IF NOT EXISTS (
			SELECT *
			FROM TI_MOTIVO_REQ
			WHERE COD_MOTIVO_REQUER = @COD_MOTIVO_REQUER
			)
	BEGIN
		SET @MSG = 'CODIGO DE MOTIVO NO EXISTE..'

		RAISERROR (
				@MSG
				,16
				,1
				)

		RETURN - 1
	END
	ELSE
	BEGIN
		SELECT @TIPO_SOLICITUD  = TIPO_SOLICITUD ,
		       @Flg_Reproceso   = Flg_Reproceso,
			   @Flg_Proceso_Previo = Flg_Proceso_Previo
		FROM TI_MOTIVO_REQ
		WHERE COD_MOTIVO_REQUER = @COD_MOTIVO_REQUER

		IF @TIPO_SOLICITUD <> @TIPO
		BEGIN
			RAISERROR (
					'TIPO DE SOLICITUD INVALIDA. REVISAR'
					,16
					,1
					)

			RETURN
		END
	END
END

DECLARE @FLG_PARTIDA AS CHAR(1)
	,@FLG_MAQUINA AS CHAR(1)
	,@FLG_ORDPRO AS CHAR(1)
	,@FLG_CLIENTE_LAV AS CHAR(1)
	,@FLG_TINTORERIA_HILADOS AS CHAR(1)
	,@FLG_TINTORERIA AS CHAR(1)
	,@Flg_Estampado_continuo AS CHAR(1)

SELECT @FLG_PARTIDA = FLG_PARTIDA
	,@FLG_MAQUINA = FLG_MAQUINA
	,@FLG_ORDPRO = FLG_ORDPRO
	,@FLG_CLIENTE_LAV = FLG_CLIENTE_LAV
	,@FLG_TINTORERIA_HILADOS = FLG_TINTORERIA_HILADOS
	,@FLG_TINTORERIA = FLG_TINTORERIA
	,@Flg_Tratamiento_efluentes =Flg_Tratamiento_efluentes
	,@Flg_Estampado_continuo = Flg_Estampado_continuo
FROM TI_MOTIVO_REQ
WHERE COD_MOTIVO_REQUER = @COD_MOTIVO_REQUER
 

DECLARE @FLG_STATUS_TINTORERIA AS CHAR(1)
DECLARE @FLG_STATUS_TINTORERIA_HILADOS AS CHAR(1)

IF @FLG_TINTORERIA = 'S' AND @FLG_PARTIDA = 'S' AND  EXISTS (
		SELECT *
		FROM TI_ORDTRA_TINTORERIA_ITEMS
		WHERE COD_ORDTRA = @COD_ORDTRA
			AND FLG_STATUS = 'E'
		)
BEGIN
	UPDATE X
	SET FLG_STATUS = 'E'
	FROM TI_ORDTRA_TINTORERIA X
	WHERE COD_ORDTRA = @COD_ORDTRA
END

IF @FLG_PARTIDA = 'S'
BEGIN
	IF @FLG_TINTORERIA = 'S'
	BEGIN
		SELECT @FLG_STATUS_TINTORERIA = FLG_STATUS
		FROM TI_ORDTRA_TINTORERIA
		WHERE COD_ORDTRA = @COD_ORDTRA

		IF NOT EXISTS (
				SELECT *
				FROM TI_ORDTRA_TINTORERIA
				WHERE COD_ORDTRA = @COD_ORDTRA
				)
		BEGIN
			SET @MSG = 'CODIGO DE PARTIDA NO EXISTE..' + @COD_ORDTRA

			RAISERROR (
					@MSG
					,16
					,1
					)

			RETURN - 1
		END

		DECLARE @COD_OPCION AS CHAR(2)
			,@COD_COLOR COD_COLOR

		SELECT @COD_OPCION = COD_OPCION
			,@COD_COLOR = COD_COLOR
		FROM TI_ORDTRA_TINTORERIA
		WHERE COD_ORDTRA = @COD_ORDTRA

		IF ISNULL(@COD_OPCION, '') = ''
			AND @COD_COLOR <> 'C00002'
			and @COD_ORDTRA not in('O2598','O2599','O2603','O2604') AND @Flg_Proceso_Previo = 'N'
		BEGIN

		SELECT @COD_OPCION,@COD_COLOR,@COD_ORDTRA,@Flg_Proceso_Previo

			SET @MSG = 'PARTIDA NO TIENE RECETA..' + @COD_ORDTRA

			RAISERROR (
					@MSG
					,16
					,1
					)

			RETURN - 1
		END

		----.-SELECT @FLG_STATUS_TINTORERIA ,@FLG_TINTORERIA_HILADOS ,@COD_COLOR 
		IF @FLG_STATUS_TINTORERIA NOT IN ('E')
			AND @FLG_TINTORERIA_HILADOS = 'N'
			AND @COD_COLOR <> 'C00002' AND @Flg_Proceso_Previo = 'N'
		BEGIN
			SET @MSG = 'STATUS DE LA PARTIDA...NO PERMITE ACCION 2 : ' + @FLG_STATUS_TINTORERIA + ' ' + @COD_ORDTRA

			RAISERROR (
					@MSG
					,16
					,1
					)

			RETURN - 1
		END
	END

	IF @FLG_TINTORERIA_HILADOS = 'S'
	BEGIN
		SELECT @FLG_STATUS_TINTORERIA = FLG_STATUS
		FROM TH_ORDTRA_TINTORERIA
		WHERE COD_ORDTRA = @COD_ORDTRA

		IF NOT EXISTS (
				SELECT *
				FROM TH_ORDTRA_TINTORERIA
				WHERE COD_ORDTRA = @COD_ORDTRA
				)
		BEGIN
			SET @MSG = 'CODIGO DE PARTIDA HILADOS NO EXISTE..'

			RAISERROR (
					@MSG
					,16
					,1
					)

			RETURN - 1
		END
	END

	IF @Flg_Estampado_continuo = 'S'
	BEGIN
		SELECT @FLG_STATUS_TINTORERIA = FLG_STATUS
		FROM ET_Ordtra 
		WHERE COD_ORDTRA = @COD_ORDTRA

		IF NOT EXISTS (
				SELECT *
				FROM ET_Ordtra 
				WHERE COD_ORDTRA = @COD_ORDTRA
				)
		BEGIN
			SET @MSG = 'CODIGO DE ORDEN DE TRABAJO DE ESTAMPADO CONTINUO NO EXISTE..'

			RAISERROR (
					@MSG
					,16
					,1
					)

			RETURN - 1
		END
	END
	


	IF @Flg_Tratamiento_efluentes = 'S'
	BEGIN
		SELECT @FLG_STATUS_TINTORERIA = FLG_STATUS
		FROM TG_Ordtra
		WHERE COD_ORDTRA = @COD_ORDTRA

		IF NOT EXISTS (
				SELECT *
				FROM TG_ORDTRA 
				WHERE COD_ORDTRA = @COD_ORDTRA
				)
		BEGIN
			SET @MSG = 'CODIGO DE ORDEN DE TRABAJO NO EXISTE..'

			RAISERROR (
					@MSG
					,16
					,1
					)

			RETURN - 1
		END
	END

	SELECT @FLG_STATUS_TINTORERIA = FLG_STATUS
	FROM TH_ORDTRA_TINTORERIA
	WHERE COD_ORDTRA = @COD_ORDTRA

	IF @FLG_STATUS_TINTORERIA NOT IN ('E')
		AND @COD_COLOR <> 'C00002' AND @Flg_Proceso_Previo = 'N'
	BEGIN
		SET @MSG = 'STATUS DE LA PARTIDA...NO PERMITE ACCION :  ' + @FLG_STATUS_TINTORERIA

		RAISERROR (
				@MSG
				,16
				,1
				)

		RETURN - 1
	END

	IF @Flg_Reproceso = 'N'   AND (@FLG_TINTORERIA = 'S'  OR @FLG_TINTORERIA_HILADOS = 'S')
		BEGIN
	
	   select @COD_MOTIVO_REQUER,@COD_ORDTRA
	
	
	      IF EXISTS (SELECT * FROM TI_ORDTRA_TINTORERIA_REQ_ADIC 
			WHERE COD_MOTIVO_REQUER = @COD_MOTIVO_REQUER 
			AND Cod_Ordtra = @COD_ORDTRA  )
			    BEGIN
					RAISERROR ('EXISTE REQUERIMIENTO SOLICITADO PARA ESTA PARTIDA / MOTIVO . REVISAR' ,16, 1 )
					RETURN
				END
		END
 
END

------------------------- Validacion de  maquinas ---------------------------
IF @FLG_MAQUINA = 'S'    and @FLG_TINTORERIA='S'
BEGIN
	IF NOT EXISTS (
			SELECT *
			FROM TI_MAQUINAS_TINTO
			WHERE COD_MAQUINA_TINTO = @COD_MAQUINA_TINTO
			)
	BEGIN
		SET @MSG = 'CODIGO DE MAQUINA NO EXISTE..'

		RAISERROR (
				@MSG
				,16
				,1
				)

		RETURN - 1
	END
END



IF @FLG_MAQUINA = 'S' and  @FLG_TINTORERIA_HILADOS = 'S'
BEGIN
	IF NOT EXISTS (
			SELECT *
			FROM TH_maquinas_Tinto
			WHERE COD_MAQUINA_TINTO = @COD_MAQUINA_TINTO
			)
	BEGIN
		SET @MSG = 'CODIGO DE MAQUINA NO EXISTE..'

		RAISERROR (
				@MSG
				,16
				,1
				)

		RETURN - 1
	END
END

 ---------------------------------------------------------------------------


IF @FLG_ORDPRO = 'S'
	AND @FLG_CLIENTE_LAV = 'N'
BEGIN
	IF @COD_ORDPRO = ''
	BEGIN
		SET @MSG = 'CODIGO DE ORDEN NO REGISTRADA..'

		RAISERROR (
				@MSG
				,16
				,1
				)

		RETURN - 1
	END

	IF NOT EXISTS (
			SELECT *
			FROM ES_ORDPRO
			WHERE COD_FABRICA = '001'
				AND COD_ORDPRO = @COD_ORDPRO
				AND FEC_CANCELACION IS NULL
			)
	BEGIN
		SET @MSG = 'CODIGO DE ORDEN NO EXISTE O ESTA CANCELADA..'

		RAISERROR (
				@MSG
				,16
				,1
				)

		RETURN - 1
	END
END

IF @FLG_ORDPRO = 'S'
	AND @FLG_CLIENTE_LAV = 'S'
BEGIN
	IF @COD_ORDPRO = ''
	BEGIN
		SET @MSG = 'CODIGO DE ORDEN NO REGISTRADA..'

		RAISERROR (
				@MSG
				,16
				,1
				)

		RETURN - 1
	END

	IF NOT EXISTS (
			SELECT *
			FROM LV_ORDPRO
			WHERE COD_CLIENTE_TEX = @COD_CLIENTE
				AND COD_ORDPRO = @COD_ORDPRO
			)
	BEGIN
		SET @MSG = 'CODIGO DE ORDEN NO EXISTE..'

		RAISERROR (
				@MSG
				,16
				,1
				)

		RETURN - 1
	END
END

IF @COD_CLIENTE <> ''
BEGIN
	IF NOT EXISTS (
			SELECT *
			FROM TX_CLIENTE
			WHERE COD_CLIENTE_TEX = @COD_CLIENTE
			)
	BEGIN
		SET @MSG = 'CLIENTE NO EXISTE.....'

		RAISERROR (
				@MSG
				,16
				,1
				)

		RETURN - 1
	END
END

IF @COD_ORDPRO_TEX <> ''
BEGIN
	IF NOT EXISTS (
			SELECT *
			FROM LV_ORDPRO
			WHERE COD_CLIENTE_TEX = @COD_CLIENTE
				AND COD_ORDPRO = @COD_ORDPRO_TEX
			)
	BEGIN
		SET @MSG = 'CODIGO DE ORDEN TEXTIL NO EXISTE..'

		RAISERROR (
				@MSG
				,16
				,1
				)

		RETURN - 1
	END
END

BEGIN TRANSACTION

IF @ACCION = 'I'
BEGIN
	IF NOT EXISTS (
			SELECT *
			FROM TI_ORDTRA_TINTORERIA_REQ_ADIC
			)
	BEGIN
		SELECT @NUM_REQUERIMIENTO = 1
	END
	ELSE
	BEGIN
		SELECT @NUM_REQUERIMIENTO = MAX(NUM_REQUERIMIENTO) + 1
		FROM TI_ORDTRA_TINTORERIA_REQ_ADIC
	END

	INSERT TI_ORDTRA_TINTORERIA_REQ_ADIC (
		NUM_REQUERIMIENTO
		,FEC_CREACION
		,COD_ORDTRA
		,COD_MAQUINA_TINTO
		,COD_MOTIVO_REQUER
		,FLG_STATUS
		,OBSERVACIONES
		,COD_USUARIO
		,PC
		,COD_ORDPRO
		,COD_CLIENTE
		,COD_CLIENTE_TEX
		,COD_ORDPRO_TEX
		,TIPO
		)
	VALUES (
		@NUM_REQUERIMIENTO
		,CONVERT(VARCHAR(10), GETDATE(), 103)
		,@COD_ORDTRA
		,@COD_MAQUINA_TINTO
		,@COD_MOTIVO_REQUER
		,'P'
		,@OBSERVACIONES
		,@COD_USUARIO
		,@PC
		,@COD_ORDPRO
		,@COD_CLIENTE
		,@COD_ORDPRO_TEX
		,@COD_CLIENTE
		,@TIPO
		)
END

IF @ACCION = 'U'
BEGIN
	UPDATE TI_ORDTRA_TINTORERIA_REQ_ADIC
	SET OBSERVACIONES = @OBSERVACIONES
		,COD_MOTIVO_REQUER = @COD_MOTIVO_REQUER
	WHERE NUM_REQUERIMIENTO = @NUM_REQUERIMIENTO
END

IF @ACCION = 'D'
BEGIN
	DELETE TI_ORDTRA_TINTORERIA_REQ_ADIC
	WHERE NUM_REQUERIMIENTO = @NUM_REQUERIMIENTO
END

COMMIT TRANSACTION

SELECT @NUM_REQUERIMIENTO

