USE [HIALPESA]
GO
/****** Object:  StoredProcedure [dbo].[USP_EST_OBTENER_STOCK_ACTUAL]    Script Date: 28/04/2026 11:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_EST_OBTENER_STOCK_ACTUAL]
    @COD_ARTICULO VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    -- [AQUÍ VA TU LÓGICA DE ALMACÉN REAL]
    -- Mockup funcional: Si el insumo existe devolver un número aleatorio simulando stock para testear interfaz.
    --SELECT 
    --    @COD_ARTICULO AS Cod_Articulo,
    --    ISNULL((CONVERT(DECIMAL(10,2), RAND() * 100)), 0) AS Stock_Libras

		select * from (
		SELECT B.COD_ITEM AS Cod_Articulo
			,RTRIM(B.DES_ITEM) AS Descripcion
			,B.COD_UNIMED AS 'UNID_MED'
			,convert(varchar(20),CONVERT(DECIMAL(18, 2), ISNULL(A.CAN_STOCK, 0))) + ' ' +  B.COD_UNIMED AS Stock_Libras
			,Can_Reservado = convert(numeric(18,5),0)    
			,A.FEC_ULT_ENTRADA AS 'ULT_ENTRADA'
			,A.FEC_ULT_SALIDA AS 'ULT_SALIDA'
			,C.DES_PROVEEDOR AS PROVEEDOR
			,PRE_ULTCOMP AS PRECIO_ULT_COMPRA
			,COD_MONULTCOMP AS MONEDA
			,A.CAN_STOCK * PRE_ULTCOMP AS IMPORTE
			,B.COD_FAMITEM
			,D.DES_FAMITEM
			,B.COD_GRUITEM
			,ISNULL(E.DES_FAMGRUITE, '') AS DES_FAMGRUITE
		FROM LG_STOCKSITEM A
		INNER JOIN LG_ITEM B ON A.COD_ITEM = B.COD_ITEM
		LEFT OUTER JOIN LG_PROVEEDOR C ON B.COD_PROVEEDOR = C.COD_PROVEEDOR
		INNER JOIN LG_FAMITE D ON B.COD_FAMITEM = D.COD_FAMITEM
		LEFT OUTER JOIN LG_FAMGRUITE E ON B.COD_FAMITEM = E.COD_FAMITEM
			AND B.COD_GRUITEM = E.COD_GRUITEM
		WHERE A.COD_ALMACEN in ('51')
				AND B.COD_FAMITEM IN (
				'AE','AS','AU','AX','BC','CG','DC','EX','IC','PI','PL','PM','QP','RC','RX','SW','TS','WA'
				)
			AND ISNULL(A.CAN_STOCK, 0) > 0	
		AND D.flg_trabaja_por_lotes = 'N'
		union all
		SELECT B.COD_ITEM AS CODIGO
			,RTRIM(B.DES_ITEM) AS NOMBRE
			,B.COD_UNIMED AS 'UNID_MED'
			,convert(varchar(20),CONVERT(DECIMAL(18, 2), ISNULL(A.CAN_STOCK, 0))) + ' ' +  B.COD_UNIMED AS STOCK
			,Can_Reservado
			,A.FEC_ULT_ENTRADA AS 'ULT_ENTRADA'
			,A.FEC_ULT_SALIDA AS 'ULT_SALIDA'
			,C.DES_PROVEEDOR AS PROVEEDOR
			,PRE_ULTCOMP AS PRECIO_ULT_COMPRA
			,COD_MONULTCOMP AS MONEDA
			,A.CAN_STOCK * PRE_ULTCOMP AS IMPORTE
			,B.COD_FAMITEM
			,D.DES_FAMITEM
			,B.COD_GRUITEM
			,ISNULL(E.DES_FAMGRUITE, '') AS DES_FAMGRUITE
		FROM Lg_StocksItem_Lote A
		INNER JOIN LG_ITEM B ON A.COD_ITEM = B.COD_ITEM
		INNER JOIN LG_FAMITE D ON B.COD_FAMITEM = D.COD_FAMITEM
		LEFT OUTER JOIN LG_FAMGRUITE E ON B.COD_FAMITEM = E.COD_FAMITEM
			AND B.COD_GRUITEM = E.COD_GRUITEM
		INNER JOIN Lg_Item_Lotes F ON A.Cod_Item = F.Cod_Item AND A.Lote = F.Lote  
		LEFT OUTER JOIN LG_PROVEEDOR C ON F.COD_PROVEEDOR = C.COD_PROVEEDOR
		WHERE A.COD_ALMACEN in ('51')
				AND B.COD_FAMITEM IN (
				'AE','AS','AU','AX','BC','CG','DC','EX','IC','PI','PL','PM','QP','RC','RX','SW','TS','WA'
				)
			AND ISNULL(A.CAN_STOCK, 0) > 0	
		AND D.flg_trabaja_por_lotes = 'S'
		) Z
		where Z.Cod_Articulo = @COD_ARTICULO
		order by Z.Descripcion asc

END
