Text                                                                                                                                                                                                                                                           
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
CREATE PROCEDURE [dbo].[LIQ_SP_ObtenerFormulaCompleta]
                                                                                                                                                                                                       
    @IdFormula INT
                                                                                                                                                                                                                                           
AS
                                                                                                                                                                                                                                                           
BEGIN
                                                                                                                                                                                                                                                        
    SET NOCOUNT ON;
                                                                                                                                                                                                                                          

                                                                                                                                                                                                                                                             
    -- Tabla 1: Cabecera
                                                                                                                                                                                                                                     
    SELECT
                                                                                                                                                                                                                                                   
        F.IdFormula,
                                                                                                                                                                                                                                         
        F.IdRecetaOrigen,
                                                                                                                                                                                                                                    
        F.NP,
                                                                                                                                                                                                                                                
        F.OperarioUDP AS Operario,
                                                                                                                                                                                                                           
        F.Tecnica,
                                                                                                                                                                                                                                           
        F.Ubicacion,
                                                                                                                                                                                                                                         
        F.Arte,
                                                                                                                                                                                                                                              
        F.FechaUDP,
                                                                                                                                                                                                                                          
        F.Cliente,
                                                                                                                                                                                                                                           
        RTRIM(F.Estilo) AS Estilo,
                                                                                                                                                                                                                           
        RTRIM(F.EstiloPropio) AS EstiloPropio,
                                                                                                                                                                                                               
        RTRIM(F.Combo) AS ComboCabecera,
                                                                                                                                                                                                                     
        F.Prendas AS PrendasReq,
                                                                                                                                                                                                                             
        RTRIM(F.Temporada) AS Temporada,
                                                                                                                                                                                                                     
        RTRIM(F.Item) AS Item,
                                                                                                                                                                                                                               
        ISNULL(F.UsuarioCierre, '') AS UsuarioCierre,
                                                                                                                                                                                                        
        ISNULL(F.FechaCierre, '') AS FechaCierre,
                                                                                                                                                                                                            
        ISNULL(F.UsuarioApertura, '') AS UsuarioApertura,
                                                                                                                                                                                                    
        ISNULL(F.FechaApertura, '') AS FechaApertura,
                                                                                                                                                                                                        
        CONVERT(VARCHAR, F.FechaCreacion, 103) AS FechaRegistro,
                                                                                                                                                                                             
        CONVERT(VARCHAR, F.FechaCreacion, 108) AS HoraRegistro,
                                                                                                                                                                                              
        F.Estado
                                                                                                                                                                                                                                             
    FROM LIQ_Formulas F
                                                                                                                                                                                                                                      
    WHERE F.IdFormula = @IdFormula AND F.Eliminado = 0;
                                                                                                                                                                                                      

                                                                                                                                                                                                                                                             
    -- Tabla 2: Colores + Insumos
                                                                                                                                                                                                                            
    SELECT
                                                                                                                                                                                                                                                   
        C.IdFormulaColor AS IdColor,
                                                                                                                                                                                                                         
        I.IdFormulaInsumo AS IdInsumo,
                                                                                                                                                                                                                       
        C.NombreColor,
                                                                                                                                                                                                                                       
        C.Combo AS ComboColor,
                                                                                                                                                                                                                               
        I.CodigoInsumo,
                                                                                                                                                                                                                                      
        I.Descripcion AS InsumoDescripcion,
                                                                                                                                                                                                                  
        I.Cantidad AS CantidadInsumo
                                                                                                                                                                                                                         
    FROM LIQ_FormulaColores C
                                                                                                                                                                                                                                
    INNER JOIN LIQ_FormulaInsumos I ON C.IdFormulaColor = I.IdFormulaColor
                                                                                                                                                                                   
    WHERE C.IdFormula = @IdFormula;
                                                                                                                                                                                                                          

                                                                                                                                                                                                                                                             
    -- Tabla 3: Pruebas UDP
                                                                                                                                                                                                                                  
    SELECT
                                                                                                                                                                                                                                                   
        NombreColor,
                                                                                                                                                                                                                                         
        CodigoInsumo,
                                                                                                                                                                                                                                        
        NombrePrueba,
                                                                                                                                                                                                                                        
        ISNULL(GramosUDP, 0) AS GramosUDP,
                                                                                                                                                                                                                   
        ISNULL(EsPrincipal, 0) AS EsPrincipal,
                                                                                                                                                                                                               
        IdPrueba
                                                                                                                                                                                                                                             
    FROM LIQ_FormulaInsumosPrueba
                                                                                                                                                                                                                            
    WHERE IdFormula = @IdFormula;
                                                                                                                                                                                                                            
END
                                                                                                                                                                                                                                                          
